---
- name: Fail when openshift_pull_sec not provided
  ansible.builtin.fail:
    msg: "The openshift_pull_secret variable can not be empty!"
  when: crc_secret_pabrodri.openshift_pull_secret | length == 0

- name: Copy pull-secret to kubelet config.json
  become: true
  ansible.builtin.copy:
    content: |
      {{ crc_secret_pabrodri.openshift_pull_secret }}
    dest: /var/lib/kubelet/config.json
  when: crc_secret_pabrodri.openshift_pull_secret | length > 0
  no_log: true

- name: Patch openshift-config pull-secret secret
  ansible.builtin.shell: >
    oc -n openshift-config
    patch secret pull-secret
    --type merge
    --patch '{"data":{".dockerconfigjson": "{{ crc_secret_pabrodri.openshift_pull_secret | b64encode }}" }}'
  when: crc_secret_pabrodri.openshift_pull_secret != ""
  no_log: true
