---
- name: Print build date
  ansible.builtin.include_tasks: build_date.yaml

- name: Configure dnsmasq and NetworkManager to make OpenShift stable after reboot
  ansible.builtin.include_tasks: dnsmasq-nm.yaml

- name: Reboot CRC host to get the network interfaces
  ansible.builtin.include_tasks: reboot_crc.yaml

- name: Start Zuul console after reboot
  ansible.builtin.include_tasks: zuul-console.yaml

- name: Login to the OpenShift
  ansible.builtin.include_tasks: openshift_login.yaml

- name: Inject pull secret
  ansible.builtin.include_tasks: inject-pull-secret.yaml

- name: Recreate OpenShift Marketplace
  ansible.builtin.include_tasks: recreate_marketplace.yaml

- name: Verify OpenShift services that are up
  ansible.builtin.include_tasks: ensure_services_up.yaml

- name: Pause machineconfigpool
  ansible.builtin.include_tasks: pause_mcp.yaml
  when: not wait_for_mcp

- name: Set low profile to etcd to avoid flakyness
  ansible.builtin.include_tasks: slow_etcd.yaml
  when: crc_etcd_slow_profile

- name: Estabilish cluster when machineconfigpool can not be degraded
  when: wait_for_mcp
  block:
    - name: Fix machineconfigpool degradation
      ansible.builtin.include_tasks: machineconfigpool.yaml

    - name: Remove drain machineconfig for the node
      ansible.builtin.include_tasks: remove_annotations.yaml

    - name: Post machineconfigpool tasks
      ansible.builtin.include_tasks: post_machineconfigpool.yaml
