- hosts: all
  tasks:
    - shell:
        cmd: "WORKSPACE={{ ansible_user_dir }} ./pkg-export.sh cloud7-openstack-{{ zuul.branch|replace('-rdo', '') }}-el7 cbs"
        chdir: "{{ zuul.projects['review.rdoproject.org/gating_scripts'].src_dir }}"
      environment: '{{ zuul | zuul_legacy_vars }}'
