clouds:
  ovb-test:
    identity_api_version: {{ cloud_secrets.vexxhost.identity_api_version }}
    region_name: {{ cloud_secrets.vexxhost.region_name }}
    auth:
      username: {{ cloud_secrets.vexxhost.username }}
      password: {{ cloud_secrets.vexxhost.password }}
      project_name: {{ cloud_secrets.vexxhost.project_name }}
      auth_url: {{ cloud_secrets.vexxhost.auth_url }}
      user_domain_name: {{ cloud_secrets.vexxhost.user_domain_name }}
      project_domain_name: {{ cloud_secrets.vexxhost.project_domain_name }}
    regions:
      - name: {{ cloud_secrets.vexxhost.region_name }}
        values:
          networks:
            - name: public
              routes_externally: true
            - name: private
