#!/bin/bash

PASSWORD=""
OC_PATH=/usr/local/bin/oc

if [ -f ~/crc-start.log ]; then
    PASSWORD=$(cat ~/crc-start.log  | grep -e "Password:" | head -1 | awk '{print $2}')
fi

if [ -z "$PASSWORD" ]; then
    PASSWORD="{{ crc_password | default('123456789') }}"
fi

if ! [ -f "$OC_PATH" ]; then
    OC_PATH=$(command -v oc)
fi

if [ -z "$OC_PATH" ]; then
    echo "Can not detect oc binary!"
    exit 1
fi

for i in {1..90}; do
    echo "Checking login to the cluster ${i}..."
    if $OC_PATH login \
           -u kubeadmin \
           -p "$PASSWORD" \
           https://api.crc.testing:6443 \
           --insecure-skip-tls-verify=true; then
        exit 0
    else
        echo "Can not login to the CRC cluster. Sleeping..."
        sleep 10
    fi
done

# It should fail, when it can not login to the cluster.
exit 1
