- name: Ensure legacy workspace directory
  file:
    path: '{{ workspace }}'
    state: directory

- name: Check reports from DLRN
  shell:
    cmd: |
      source {{ workspace }}/hash_info.sh
      bash -xe {{ ci_config_repo }}/ci-scripts/tripleo-upstream/dlrnapi_check_reports.sh
    chdir: '{{ workspace }}'
  environment: "{{ zuul | zuul_legacy_vars | combine({'DLRNAPI_PASSWORD': dlrnapi.password,'DLRNAPI_USERNAME': dlrnapi_user}) }}"
  register: reported_jobs
  changed_when: false

- name: check for empty dlrnapi reports
  fail:
    msg: "FAILURE: No successful jobs reported to delorean api"
  when: reported_jobs.stdout == [] or reported_jobs.stdout | length == 0

# TODO(rfolco): component promotion criteria is loaded from yaml file,
# consolidate integration promotion to use the same method

- name: fetch criteria file
  vars:
    criteria_base_path: "{{ rdo_infra_ci_config }}/ci-scripts/dlrnapi_promoter/config"
  fetch:
    dest: "{{ workspace }}/"
    src: "{{ criteria_base_path }}/{{ ansible_distribution }}-{{ ansible_distribution_major_version }}/component/{{ release }}.yaml"
    flat: yes

- name: load criteria for component promotion
  include_vars:
    file: "{{ workspace }}/{{ release }}.yaml"
    name: "criteria"

# noqa 301
- name: ensure promotion criteria is met
  assert:
    that: "reported_jobs.stdout | from_json | json_query(query) != []"
    success_msg: "SUCCESS: Criteria matches for '{{ item }}'"
    fail_msg: "FAILURE: Criteria DOES NOT match for '{{ item }}'"
  vars:
    query: "[?contains(job_id, '{{ item }}')]"
    hash: "current-tripleo-{{ component }}"
  loop: "{{ criteria[hash] }}"
