- hosts: all
  tasks:
    - name: Promote hash label from {{ promote_source }} to {{ promote_target }}
      shell:
        cmd: |
          export RELEASE="{{ release }}"
          export PROMOTE_NAME="{{ promote_target }}"
          bash -xe {{ ci_config_repo }}/ci-scripts/tripleo-upstream/promote-hash.sh
        chdir: '{{ workspace }}'
      environment:
        - DLRNAPI_PASSWORD: "{{ dlrnapi.password }}"
        - DLRNAPI_USERNAME: "{{ dlrnapi_user }}"
      changed_when: true
