- name: Ensure legacy workspace directory
  file:
    path: '{{ workspace }}'
    state: directory

- name: Copy dlrnapi_venv.sh script to config repo
  copy:
    src: {{ rdo_infra_config_repo }}/ci-scripts/tripleo-upstream/dlrnapi_venv.sh
    dest: {{ ci_config_repo }}/ci-scripts/tripleo-upstream/
    force: no

- name: Promote hash label from {{ promote_source }} to {{ promote_target }}
  shell:
    cmd: |
      export WORKSPACE="{{ workspace }}"
      export RELEASE="{{ component_release | default(release) }}"
      export PROMOTE_NAME="{{ promote_target }}"
      bash -xe {{ ci_config_repo }}/ci-scripts/tripleo-upstream/promote-hash.sh
    chdir: '{{ workspace }}'
  environment: "{{ zuul | zuul_legacy_vars | combine({'DLRNAPI_PASSWORD': dlrnapi.password,'DLRNAPI_USERNAME': dlrnapi_user}) }}"
  changed_when: true
