{% for result in baremetal_ports %}
{% if 'stdout' in result and result.stdout %}
{% for port in result.stdout.replace('\n', ' ') %}
{{ ovb_working_dir }}/.venv/bin/openstack port delete {{ port }} && sleep 1
{% endfor %}
{% endif %}
{% endfor %}
