clouds:
  psi-public-nodepool-tripleo:
    auth_type: "v3applicationcredential"
    auth:
      auth_url: "https://openstack.prod.psi.phx2.redhat.com:13000/v3"
      application_credential_id: "06a4b43f3b90466bbc2a2c962c10a3f8"
      application_credential_secret: "{{ application_credential_secret }}"
    regions:
      - name: regionOne
        values:
          networks:
            - name: internet
              routes_externally: true
              default_interface: true
              nat_source: true
            - name: private
              routes_externally: false
              nat_destination: true
