clouds:
  psi-public-nodepool-tripleo:
    auth_type: "v3applicationcredential"
    auth:
      # NOTE: app credential are created on dpawlik account
      auth_url: "https://openstack.prod.psi.phx2.redhat.com:13000/v3"
      application_credential_id: "{{ application_credential_id }}"
      application_credential_secret: "{{ application_credential_secret }}"
