---
repos:
  - repo: https://github.com/ansible/ansible-lint.git
    rev: main
    # rev: v5.0.11  # Disable version till fix is released:
    # https://github.com/ansible-community/ansible-lint/pull/1797
    hooks:
      - id: ansible-lint
        always_run: true
        pass_filenames: false
        # do not add file filters here as ansible-lint does not give reliable
        # results when called with individual files.
        # https://github.com/ansible/ansible-lint/issues/611
        verbose: true
        entry: ansible-lint --force-color -p -v
