---
repos:
  - repo: https://github.com/ansible/ansible-lint.git
    rev: v4.1.0a0
    hooks:
      - id: ansible-lint
        # TODO(ssbarnea): migrate towards .*\.(yaml|yml)$ pattern
        files: (playbooks|roles).*(tripleo|dlrn|ovb|legacy).*\.(yaml|yml)$
        entry: ansible-lint --force-color -v
