PyYAML
ansible>=2.9.22,<2.10
jmespath>=0.10.0
molecule-docker>=1.0.0a0
molecule-podman>=0.3.0
molecule[test]>=3.3.2  # MIT
pre-commit>=2.7.1 # MIT License
pytest-molecule>=1.3.4  # MIT
requests>=2.25.1
six>=1.16.0
