- hosts: all
  vars:
    promote_source: consistent
    promote_target: tripleo-ci-testing
  tasks:
    - name: Create hash_info file with hashes from consistent
      include_role:
        name: promote-hash
        tasks_from: get-hash.yaml

    - name: Promote consistent to tripleo-ci-testing for primary (centos) repo
      include_role:
        name: promote-hash
        tasks_from: promote-primary-distro.yaml
