- hosts: all
  name: config-distgit-mirror-github playbook
  tasks:
    - name: rdo-create-project-github
      shell:
        cmd: |
          set -e +x
          cd {{ ansible_user_dir }}/{{ zuul.project.src_dir }}
          pushd {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdo_gating_scripts'].src_dir }}/rdo-create-project
          virtualenv .venv
          . .venv/bin/activate
          pip install -r requirements.txt
          pip install 'ruamel.yaml<=0.15.0'
          pip install --upgrade urllib3
          popd
          # Set up git configuration
          git config user.name "rdo-trunk"
          git config user.email "amoralej+rdo-trunk@redhat.com"
          git diff --name-only --diff-filter=A HEAD~1 | while read line; do
            # Find new files in the resources directory
            if [[ "$line" =~ resources.* ]]; then
              echo "Parsing new projects in $line"
              python {{ ansible_user_dir }}/find-new-distgit-projects.py $line | while read project; do
                  # Remove the initial openstack/ or puppet/ part
                  project_short=$(echo $project | awk -F/ '{print $2}')
                  echo "Creating GitHub project for $project_short"
                  {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdo_gating_scripts'].src_dir }}/rdo-create-project/rdo-create-project-github.py --token {{ github.api_key }} --org rdo-packages --skip-deploy-key create --name $project_short  # noqa 204
              done
            fi
          done
      changed_when: true
