- hosts: all
  name: nfvinfo-buildsys-tags-update playbook
  tasks:
    - name: Install required dependencies
      package:
        name:
          - git
          - centos-packager
          - python3-PyYAML
        state: present
      become: true

    - name: nfvinfo-buildsys-tags-update
      shell:
        cmd: |
          set +e -x
          PHASE={{ rdoinfo_phase }}
          # I want to run jobs for testing in odd days and release in even
          DAY=$(date +%-d)
          if [ $(($DAY%2)) -eq 0 -a $PHASE == "testing" ]||[ $(($DAY%2)) -ne 0 -a $PHASE == "release" ]; then
            exit 0
          fi
          virtualenv --system-site-packages .venv
          . .venv/bin/activate
          pushd {{ ansible_user_dir }}/{{ zuul.projects['softwarefactory-project.io/graffiti'].src_dir }}
          pip install .
          popd
          pip install 'ruamel.yaml<=0.15.0' sh git-review
          # Install releng, needed for update_uc command
          pushd {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdo-infra/releng'].src_dir }}
          pip install .
          popd

          mkdir -p ~/.ssh
          cat >> ~/.ssh/config << EOF

          Host review.rdoproject.org
            IdentityFile ~/.ssh/rdoinfo_id_rsa
          EOF
          chmod 0400 ~/.ssh/config
          ssh-keyscan -p 29418 review.rdoproject.org >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts

          cd {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/nfvinfo'].src_dir }}
          for version in openvswitch2.13 openvswitch2.15,ovn-2021 openvswitch2.16 openvswitch2.17,ovn22.06 openvswitch-selinux-extra-policy openvswitch3.1,ovn22.12
          do
            git reset --hard master
            python {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/gating_scripts'].src_dir }}/buildsys-tags/update-buildsys-tags-nfv.py \
                -c {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/gating_scripts'].src_dir }}/buildsys-tags/graffiti_config.yaml \
                -r 2 \
                -p $PHASE \
                --include-list $version \
                --centos-release 8s
            python {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/gating_scripts'].src_dir }}/buildsys-tags/update-buildsys-tags-nfv.py \
                -c {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/gating_scripts'].src_dir }}/buildsys-tags/graffiti_config.yaml \
                -r 2 \
                -p $PHASE \
                --include-list $version \
                --centos-release 9s

            DIFF=$(git diff *.yml)
            ovs_version=$(echo $version|awk -F',' '{print $1}')
            TOPIC=nfvsig-${ovs_version}-$PHASE
            if [ -n "$DIFF" ]; then
              # Check for an open change, if so reuse it
              change_info=$(ssh -p 29418 rdo-trunk@review.rdoproject.org \
              gerrit query --current-patch-set status:open project:nfvinfo owner:rdo-trunk branch:master \
                  topic:"$TOPIC"-update)
              previous=$(echo "$change_info" | grep "^  number:" | awk '{print $2}')
              if [ -n "$previous" ]; then
                  CHANGE_ID=$(echo "$change_info" | grep "^change" | awk '{print $2}')
                  COMMIT_MSG="Promote CBS tags update for $TOPIC\n\nChange-Id: $CHANGE_ID\n"
              else
                  COMMIT_MSG="Promote CBS tags update for $TOPIC"
              fi
              git config user.name "rdo-trunk"
              git config user.email "amoralej+rdo-trunk@redhat.com"
              git config gitreview.username "rdo-trunk"
              git checkout -b proposal
              git review -s -v
              echo -e $COMMIT_MSG | git commit -F- *.yml
              # Just in case, check if there are changes between this version and the current review
              DIFF_RDO=0
              if [ -n "$CHANGE_ID" ]; then
                  for i in $(ls *yml 2>/dev/null); do
                      curl https://review.rdoproject.org/r/changes/nfvinfo~master~$CHANGE_ID/revisions/current/files/${i/\//%2F}/content |base64 -d > $i.current
                      diff $i $i.current
                      if [ $? -ne 0 ]; then
                          DIFF_RDO=1
                          break
                      fi
                  done
              fi
              if [[ ! -n "$CHANGE_ID" ]] || [[ $DIFF_RDO -ne 0 ]]; then
                  git review -t "$TOPIC-update" < /dev/null
              fi
            fi
          done
      changed_when: true
