---
- hosts: all
  tasks:
    - name: Include login
      no_log: true
      when: registry_login_enabled
      vars:
        container_registry_logins:
          trunk.registry.rdoproject.org:
            unused: "{{ rdo_registry.token }}"
        tripleo_container_registry_logins: "{{ container_registry_logins }}"
        docker_login_cache: /root/.docker/config.json
      block:
        - include_role:
            name: ansible-role-container-registry
            tasks_from: registry-login.yml
          when:
            - ansible_distribution == "CentOS"
            - ansible_distribution_major_version|int < 8

        - include_role:
            name: tripleo-podman
            tasks_from: tripleo_podman_login.yml
          when:
            (ansible_distribution == "CentOS" and ansible_distribution_major_version|int >= 8)
             or (ansible_distribution == "RedHat" and ansible_lsb.major_release|int >= 8)

    - name: Verify Login for docker
      when:
        - ansible_distribution == "CentOS"
        - ansible_distribution_major_version|int < 8
      assert:
        that:
          - registry_login_docker is defined
          - '"unauthorized" in registry_login_docker.results.0.stdout'
        success_msg: Role got to the authentication phase and correctly failed
        fail_msg: Role failed authentication for an Unknown reason.

    - name: Assert role has worked in (CentOS|RedHat) 8
      when:
        (ansible_distribution == "CentOS" and ansible_distribution_major_version|int >= 8)
        or (ansible_distribution == "RedHat" and ansible_lsb.major_release|int >= 8)
      assert:
        that:
          - registry_login_podman is defined
          - '"invalid username/password" in registry_login_podman.results.0.stdout'
        success_msg: Role got to the authentication phase and correctly failed
        fail_msg: Role failed authentication for an unknown reason.
