- hosts: all
  roles:
    # TODO(pabelanger): Maybe promote this in to base jobs? But is
    # openstack-infra specific. Worth to check
    - role: mirror-info-fork
    - role: add-authorized-keys
      public_keys:
        # akahat
        - public_key: "ecdsa-sha2-nistp521 AAAAE2VjZHNhLXNoYTItbmlzdHA1MjEAAAAIbmlzdHA1MjEA\
            AACFBAEKGOeis2AYzU6TuTS0phK/qiJIcd7nl5J1GP7yq6lB3tif7Y27r6UnZ+ocO68l\
            kAwziMIF35W2GYhhR1kZJJVozQC9w3UvM+VrmXPhBrZFPIRPEZhhSvJuK+x3tw+Mi5+c\
            KvaMxCdW8pmurnvrtK7rvohjjl0c+3wDCkh+EkyfoSAKAw== akahat@redhat.com"
        # arxcruz
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA4Z/c9osaGGtU6X8fgELwfj/yayRurfcK\
            A0HMFfdpPxev2dbwljysMuzoVp4OZmW1gvGtyYPSNRvnzgsaabPNKNo2ym5NToCP6UM+\
            KSe93aln4BcM/24mXChYAbXJQ5Bqq/pIzsGs/pKetQN+vwvMxLOwTvpcsCJBXaa981RK\
            ML6xj9l/UZ7IIq1HSEKMvPLxZMWdu0Ut8DkCd5F4nOw9Wgml2uYpDCj5LLCrQQ9ChdOM\
            z8hz6SighhNlRpPkvPaet3OXxr/ytFMu7j7vv06CaEnuMMiY2aTWN1Imin9eHAylIqFH\
            ta/3gFfQSWt9jXM7owkBLKL7ATzhaAn+fjNupw== arxcruz@redhat.com"
        # marios
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDS4Fn6k4deCnIlOtLWqZJyksbepjQt\
            04j8Ed8CGx9EKkj0fKiAxiI4TadXQYPuNHMixZy4Nevjb6aDhL5Z906TfvNHKUrjrG7G\
            26a0k8vdc61NEQ7FmcGMWRLwwc6ReDO7lFpzYKBMk4YqfWgBuGU/K6WLKiVW2cVvwIuG\
            IaYrE1OiiX0iVUUk7KApXlDJMXn7qjSYynfO4mF629NIp8FJal38+Kv+HA+0QkE5Y2xX\
            nzD4Lar5+keymiCHRntPppXHeLIRzbt0gxC7v3L72hpQ3BTBEzwHpeS8KY+SX1y5lRMN\
            45thCHfJqGmARJREDjBvWG8JXOPmVIKQtZmVcD5b mandreou@redhat.com"
        # rfolco
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCz37KwYJHVZbOuiSeMndSTH/eSblBW\
            tA8veBkxEtddJ65pdpAQMTNCNh8ZMjDKUS5Y8MZp/8sj9A4wOcFqcGPgilH6yWzm6I1/\
            XU6TDGtRUJRttfqn1W1R5zfHUhF4/ptOuEioU2BhOycbB07HcrCJUEhcV3i3J9IjYXYo\
            7scAgHsX1o0AHcDPP5+2/a3iYjL3EQMCR1uBNfKKnZGb2Uh+O7CXuBbZUbizDOlLIp7B\
            Ci6PKukAcXATCG3Bnqx9xynyUn/XZeYJ93wEqLqWl0FD8JlYQMcNcpblc3Mv4Ke8XIp4\
            aPkL54F/yq7omCz3fi53qP8/KYATnQbTJ/tjY9pt rfolco@redhat.com"
        # rlandy
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC9MiLfy30deHA7xPOAlew5qUq3UP2g\
            mRMYJi8PtkjFB20/DKeWwWNnkZPqP9AayruRoo51SIiVg870gbZE2jYl+Ncx/FYDe56J\
            eC3ySZsXoAVkC9bP7gkOGqOmJjirvAgPMI7bogVz8i+66Q4Ar7OKTp3762G4IuWPPEg4\
            ce4Y7lx9qWocZapHYq4cYKMxrOZ7SEbFSATBbe2bPZAPKTw8do/Eny+Hq/LkHFhIeyra\
            6cqTFQYShr+zPln0Cr+ro/pDX3bB+1ubFgTpjpkkkQsLhDfR6cCdCWM2lgnS3BTtYj5C\
            t9/JRPR5YOphqZz+uB+OEu2IL68hmU9vNTth1KeX rlandy@redhat.com"
        # sshnaidm
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDDhi/BqsZibuAPiUjJe7b3Dqe5nyI7\
            BckOwfGwJYg436+bFQMoR/7RKmtPe+ISVQ04lwIriIPwKGaSHj5mbEe4LsCLZ5jAUHxv\
            WfgHitqS5ln295zU7vp1z28o7e6LQNplgExyqQlxUPdOU48tmlz93F6szSYkNYvZnhzM\
            n9syrajC74qPuKsmHTeYFLEcxesb7/u+BtxCk8WdjYTb//sk038NEtIsNhrGtAOV3WcD\
            pXnA5mNMpUfeoQ4yiN9LqtreXr7Zeo587LV3T2QL+huAE0J7EuCzHAKk6TIzJqjLidg0\
            SYwZZwfbxgviU66QLkeyzh9oiovwskelvOQCBFq3 sshnaidm@redhat.com"
        # weshay
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCs/fvCoMm/bOLehNLGEhWnMZfJndO4\
            rK2Q8OOrYOAGKpMT5xiWZsPgxGai4vieZ2HmdyXBB2DX5g1FjwGJUWuxPRYT5vAQlseO\
            fyTLqhkHaSmuWcpH6HuP+KvxWO9epyXP8pl7uZLsbVEr5207ER4bYLIg2bk2LRQqxnys\
            G3t4VqbAV0V+YKrkkwwErsHDbLJyz2sqtJielpKZOCF+vFnzrUR3dmORZ4bchBnmf67C\
            FAJqPd1zSU9Hn0fWZ5nVxJMk1o/bxqwIZ6E7a9Yw5bJl3ziGP5WfcSfati4LKGWI503S\
            NwSWLOuL03j2LaLO3GgLSVFUo9eGT6KhN3dogWeaWXDDFvx+O0RfdZFL0+mRFl2Rz83Q\
            sJGFBm1JW2H1/W0vUxtXmZhUXFagSt75zh2AQPoatsYgUOCpC4qFSVRXFyZR0a1Q5Jnq\
            mtFrYDuIoMovdfelgKEnJ5xBNhmGLpJlRmSIiv4tRNYUvaU4fKnt/yLTtZNT+D7zM4KM\
            UzNy8pqEbUugAGGxMlCs1YfzwOL4+OHxrDX5A5TlvTnjNBHmBWXDQJncXTewjTf1+6oL\
            kGKHMSd8UsGjYTLWX1JepFcHUj5+SF5arVKz/gThvQlelpPzXZgK9MNUSKfU9GHQ79T1\
            4Kng9Cfx/BcUYsZmFmCgzj2M1neFD7M3kOFQ8PV2ow== whayutin@redhat.com"
        # chandankumar
        - public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGE+Kh8TW2fGc2U54HbeRkRrGGf46Yb\
            xAcxRB4XqLO/4 raukadah@gmail.com"
        # bshewale
        - public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBqb3Q/9uDf4LmihQ7xeJ9gA/STIQUF\
            PSfyyV0m8AoQi bshewale@redhat.com"
        # ysandeep
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD9hHZMu0S/A/BhYMyc3X/qixn/1aoP\
            UWIbWOF01JLkCeB5Vz7EFdW8ohqr5fqe11mXRhNKpeP7NQcTZ8JjdgE5XfA8+elhjmIl\
            JJGEuUe278KmVLie4R7H+Mdu1FcVQ7RpJRginyqLOa5U9/T0oh+oNuHjEqMVAAfrpMGo\
            2e0SBrFs92+sowK+u1SCoF1QI34mg4aHfFY15dDFoSu6z4CUtfSI/bH+pJKPw/xB7I/E\
            v1RMu5bouhsqtaXCldoBagQKI1d8ZslPZ043IC+0XBG75ZA7bfWs9pW0ReYG9a3J63DE\
            PMSsp3Tnlu36xVYY+/GtpZROgqZxyU3UnfrmFEwL sandyada@redhat.com"
        # dviroel
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC0I8QqQx0Az2ysJt2JuffucLijhBqn\
            sXKEIx5GyHwxVULROa8VtNFXUDH6ZKZavhiMcmfHB2+TBTda+lDP4FldYj06dGmzCY+\
            IYGa+uDRdxHNGYjvCfLFcmLlzRK6fNbTcui+KlUFUdKe0fb9CRoGKyhlJD5GRkM1Dv+\
            Yb6Bj+RNnmm1fVGYxzmrD2utvffYEb0SZGWxq2R9gefx1q/3wCGjeqvufEV+AskPhVG\
            c5T7t9eyZ4qmslkLh1/nMuaIBFcr9AUACRajsvk6mXrAN1g3HlBf2gQlhi1UEyfbqIQ\
            vzzFtsbLDlSum/KmKjy818GzvWjERfQ0VkGzCd9bSLVL dviroel@redhat.com"
        # ananya
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDLOQd4ZLtkZXQGY6UwAr/06ppWQK4fDO\
            3HaqxPk98csyOCBXsliSKK39Bso828+5srIXiW7aI6aC9P5mwi4mUZlGPfJlQbfrcGv\
            Y+b/SocuvaGK+1RrHLoJCT52LBhwgrzlXio2jeksZeein8iaTrhsPrOAs7KggIL/rB9\
            hEiB3NaOPWhhoCP4vlW6MEMExGcqB/1FVxXFBPnLkEyW0Lk7ycVflZl2ocRxbfjZi0+\
            tI1Wlinp8PvSQSc/WVrAcDgKjc/mB4ODPOyYy3G8FHgfMsrXSDEyjBKgLKMsdCrAUcq\
            JQWjkqXleXSYOV4q3pzL+9umK+q/e3P/bIoSFQzmJKTU1eDfuvPXmow9F5H54fii/Da\
            7ezlMJ+wPGHJrRAkmzvMbALy7xwswLhZMkOGNtRcPqaKYRmIBKpw3o6bCTtcNUHOtOQ\
            nzwY8JzrM2eBWJBXAANYw+9/ho80JIiwhg29CFNpVBuHbql2YxJQNrnl90guN65rYNp\
            DxdIluweyUf8= anbanerj@kaermorhen"
        # rcastillo
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCqbn8wIirP+KW0HEVR\
            oKHYrJVRUHdrPDDvDWRNtqpoRc9gk0pxgBSFmCOliPdsYyF6ttZsCg5ih8OZkNZE7p+\
            Gzx60NMY9V5oBROCb8QIKf2GcoTWll6qjTvBNEwYgIvxANTRkdXaW1uezgM7SEGrcHG\
            DlUT4J5SKkVFFcgqoihXcZELocLeTEmbFFIkq40dE4GzkR6vH8UnDn74z0Gyx6CNC7Q\
            OAzKBIOEmWJAp2s/gkUZhhbMMhSKfJN7oQPmlFHNZ6KG0d5w/5DjOSsV2dCN2pqTtM5\
            6t3ERzPbMeQ+sLnCml7BFbx4+vEsw3jTVBRcv+a1kl4osbDf5BdUb7S6Bk4J9eM7HuI\
            j6SBVModDWzox8AHbi/oUujTTUsAsWlrFfmnxFS2Z8fB5pVrU3Qvo3JyDKs4fJlntm7\
            wVu52McKvu07fQlPai4I5Zv9860qAP1RL+g05Jn4PfZfoby7RiIhTlY8VchyuZO2gDh\
            qKOEqKrKa8ZnfKDlITVEKui4JM= rcastill@redhat.com"
        # dasm
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC3VwV8Im9kRm49lt3t\
            M36hj4Zv27FxGo4C1Q/0jqhzFmHY7RHbmeRr8ObhwWoHjXSozKWg8FL5ER0z3hTwL0W\
            6lez3sL7hUaCmSuZmG5Hnl3x4vTSxDI9JZ/Y65rtYiiWQo2fC5xJhU/4+0e5e/pseCm\
            8cKRSu+SaxhO+sd6FDojA2x1BzOzKiQRDy/1zWGp/cZkxcEuB1wHI5LMzN03c67vmbu\
            +fhZRAUO4dQkvcnj2LrhQtpa+ytvnSjr8icMDosf1OsbSffwZFyHB/hfWGAfe0eIeSA\
            2XPraxiPknXxiPKx2MJsaUTYbsZcm3EjFdHBBMumw5rBI74zLrMRvCO9GwBEmGT4rFn\
            g1nP+yw5DB8sn2zqpOsPg1LYRwCPOUveC13P6pgsZZPh812e8v5EKnETct+5XI3dVpd\
            w6CnNiLwAyVAF15DJvBGT/u1k0Myg/bQn+Gv9k2MSj6LvQmf6WbZu2Wgjm30z3FyCne\
            BqTL7mLF19YXzeC0ufHz5pnO1E= dasm@fedora"
        # jm1
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDLHg/svxPOltua4whk\
            8ZI0Rlu5uGHvhBFKuOUHm+9Xkly2id2b1z+pn+rYkp6tMPBiYCQmICGfpwdID7GRZp1\
            7pzKpbuyz2REfwqcEQkuryvl9/J02H7S5gQHB7Wt/98qt+V74Si+wS/m9hXr1JJsVK4\
            H/7fKpvEcsYQYNacekZhqa/77rXVlO/6N/GiXHBeDrxVKy5fnY2tqgmDp2bWgDQUwHT\
            dR1B/rDn0TOqTanyUXhtNqP+PYtiUic8/+YCig7qe75p6L6PPVPFLwW6qqVtqri+7oK\
            qYzBa2SD5nJ/6atIcArY2RRrnSvsBgkvEpKMW2NzV5+saER8JKli2MAbQGP9p+2R3nP\
            kcYqNQWXwvF/vjyldI0vy1KbU7GgqMj2C7xWi2UNRN7F+AKADFKL2Gw7lJm8Uzt9i78\
            bsIWheqcxnWrEzVeNURe1o7lnz5Qtqqm6XE4r2kAXXnGyVbkZk7KV4bshEGM1a6aslq\
            AMCTIbWGEMCwGIyHXSz2+m4/uR5LZEKJokEuZoieZnhCOe1un69b2EsKtAMXSprTZz6\
            fg2VtlAvs4Vzrr3/FuOFMzPXe7BcFWFphNA9R4hCAcTBw0U1Y3ACn9kjYKf6NR2eo1t\
            LgSrPeCG7OwbvUKDpifyA8PHwm/gTGQnsNOT/j1WHyEe6sDKPej0qrKwOB9hszw==  \
            jm1"
        - public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICIqI8Z/823S+pcHS+D7\
            EbWQXgHX3kLQjE42qNjLCF5G jm1"
        # cjeanner/Tengu
        - public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHUnwjB20UKmsSed9X73\
            eGNV5AOEFccQ3NYrRW776pEk cjeanner"
        # pablintino/pabrodri
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDK7XsKtjKF1/T7q26T\
            3oPyTyCTz9yOhp/5Ptpx/yGFSosIViVy+om5U+D56NJFRhsZ6chTpLpt/EsghwuzGsh\
            v3tGzmbLopcPc5Ux76oebzzZryg/2TOHbo4gEmNMK7hhXLv08K52pegtPYmBQ5V7Pkc\
            hMQ1AjUwdzRMc8RLxcxXXMG4G1Pp/PLykuHmwHYil1rFyYWB62wgIRmzgXzkHy9tmnK\
            B2lwgCM25UmFEC/8mDxA3xsOtT9YuhYIU4N5jAeDyzscDedEAeMghKyIFVx3vLbgThN\
            iH7LC9fzGYQACCvYaUJ3T27IuzAd/uGltphBDK2mkH1eKAE26MQ1GE7Xpy49y8+Od+i\
            mbLx4ORn6zrVu0+QrOnhtZvuxAVZIJ3HGZ4sSmQtdpjOlyqgFoyic4hjkQfuUt7JvJt\
            YjE00TzlMomflAvR4KFZHucoMzABgUHZSV8E0otlnq11rn9FtDt7ajIDRNVg2Uf1K7/\
            3koPzg1XeC3oFcolhRHyQYDfi69VzPJW5Vl2F1pQh5vCIKOCYQ+nYXbNx0iEAgL7l7k\
            pythUohKoh4/9jSdtlyhAYX96lHfP1MShX1KgcWAEePdU4kaMNrsIMb3/WsMVDfH+2X\
            JNy8bPxr+U+jOS9/KtgN6ACDWiqtxpozTsEEVMAu7vCZyr5EvztscIUIh6TcMCw== p\
            abrodri@pabrodri-remote"
        # jgilaber/cescgina
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCy/MuqMnjVU5lf6qXI\
            sDZ9GPGcXeegfaN5LuLASvX2b5ajT5ZrOPztkrSSVV3qYjn8re2aZ0kP3K9lpuJzY7q\
            kT9VxN6DCkRlMc11Zb47lJgLWImjGgWmB7dXBbqvu9c1e3qW7Lzi+5XeLqd5u6IvR2a\
            3FuE2U/QhXkUqW/KPOt14CixZM8wnlPFi9ZpXSaIxvjPmX5XECFZOpIXDzuSkWWGGDu\
            JgvnJwhFOtUhs7rLmO5E83rgVAkAvlhRNzPsZrtXJuqEITUeOs86lyBPceNnR7w4+ob\
            hqPp88Uy7TwTX5GIzdktnYmuethLIqEaqyDv6wVMG6J0vsH9vek\
            JThMz jgilaber@fedora"
        # afazekas
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCnB+y028w0+dMjKfRWi\
            AnQ5Q+ej6Gc7BtHpITFndhx8Gywh0L5B5EFWHBB2fdmw7boDmqhGKTTMgaxTtUhQAFuH\
            sfhSrlQIbmUiIgrGkFUx4Pbhr2Xf1NFqM1nXNXT7asuzwFAnBsznR3zo+uj5NWzbj8Ua\
            lr1bUJ22iq4eegBm3k18iKKEl0JelDxmcZKihyg6+2Va84cd8P6BbBPs9SUdPXVZNxcF\
            tyDgsMOQGFsh7Ca9RMdf4tz+ONj+s3ZFpcy8xapEWrwHlXad/by3PMta0sOxYiWJTOp9\
            3yrMvgdx+jj4jsBxhvw1Yjpzyfr9Y8GU9MB9R7vdjd6D/OWSA+Iwapf4LqFNBCyo45m1\
            rMK1ha7p7fVT5CGUbxIKcBfW3L7iJ/BAZNJAIUQUmnmF2k1m8/odZB+gHStinHOURryH\
            pKEgy1Wbuww1pKXJTSRXBjssX+dOuUYeiWxMuHx/2VCJRmf2pPH5+IRwxVwFINXlYMkL\
            TwYDDGVTO110U4ekq8= afazekas@interceptor"
        # afazekas
        - public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC0nN8dz1ZvMTWRvEa//\
            FTbo/x1t8+BXuJKBgKwh1TPN3O2wMoEFLAVfcWEuDMZj1BbC1Zsa/2H7k9odWbV4Lrfg\
            g/oPcGQh4zo5Yl1mTcPCRUwCW7dy8+18/OFZz8tzRjps4Nl68HNqxmsshSJ3MCMNT5C+\
            9Nw/OCc1loWxBsbOE9gnlJG3pDq/iAkNahR5i6zjhYW0Fy0p+bI5VJ26pD7mdQjvf1h0\
            iFz9JA58g1p9B70F4hfBm0+2jZPD66FYXDiEAJQcXdFPmdlWNBia1JOIy4FpoIRndag+\
            iv/8x+dLZ8m+a84fXO1S4NzBt8P7jr+bqKXqRsmnVf0NaufvrqSRuen0Hrr3oTog2ZBP\
            HA4/tOlHv0+YqRQw6CApaOo3JRjHL+2FQnsLI//7JXhnRDpNz7eJKeMB+iRqzbN2SGZW\
            vftHrDHuvaSdyVCGaUEYYUxF8Q2iCPSIuhg7Z5lM3M1HOECs8SoqiCatyA6QnF6uYkFE\
            tcR6jjy548h5KMceyU= afazekas@redding"
  tasks:
    - name: Create nodepool directory
      file:
        path: /etc/nodepool
        state: directory
        mode: 0777
      become: true
    - name: Create nodepool sub_nodes file
      copy:
        dest: /etc/nodepool/sub_nodes
        content: ""
    - name: Create nodepool sub_nodes_private file
      copy:
        dest: /etc/nodepool/sub_nodes_private
        content: ""
    - name: Populate nodepool sub_nodes file
      lineinfile:
        path: /etc/nodepool/sub_nodes
        line: "{{ hostvars[item]['nodepool']['public_ipv4'] }}"
      with_items: "{{ groups['subnodes'] }}"
      when: groups['subnodes'] is defined
    - name: Populate nodepool sub_nodes_private file
      lineinfile:
        path: /etc/nodepool/sub_nodes_private
        line: "{{ hostvars[item]['nodepool']['private_ipv4'] }}"
      with_items: "{{ groups['subnodes'] }}"
      when: groups['subnodes'] is defined
    - name: Create nodepool primary file
      copy:
        dest: /etc/nodepool/primary_node_private
        content: "{{ hostvars['primary']['nodepool']['private_ipv4'] }}"
      when: hostvars['primary'] is defined
    - name: Create nodepool node_private for this node
      copy:
        dest: /etc/nodepool/node_private
        content: "{{ nodepool.private_ipv4 }}"
      become: true
    - name: Copy ssh keys to nodepool directory
      command: "cp .ssh/{{ item }} /etc/nodepool/{{ item }}"
      with_items:
        - id_rsa
        - id_rsa.pub
      changed_when: true

    - name: Add sudoers role for zuul-sudo-grep.sh
      copy:
        dest: /etc/sudoers.d/zuul-sudo-grep
        content: "zuul ALL = NOPASSWD:/usr/local/jenkins/slave_scripts/zuul-sudo-grep.sh\n"
        mode: 0440
      become: true

    - name: Validate sudoers config after edits
      command: "/usr/sbin/visudo -c"
      become: true
      changed_when: false

    - name: Show the environment passed in to job shell scripts
      shell:
        cmd: |
          env
        executable: /bin/bash
      environment: '{{ zuul | zuul_legacy_vars }}'
      changed_when: false

    # TODO(pabelanger): We need to patch zuul to remove this.
    - name: Workaround hardcoded /home/zuul/workspace in zuul_legacy_vars
      become: true
      file:
        group: zuul-worker
        owner: zuul-worker
        path: /home/zuul
        state: directory
      when: ansible_user_id == "zuul-worker"

    # TODO(pabelanger): To be removed with above.
    - name: Symlink /home/zuul-worker/workspace
      shell:
        cmd: |
          ln -s /home/zuul-worker/workspace /home/zuul/workspace
        executable: /bin/bash
      environment: '{{ zuul | zuul_legacy_vars }}'
      when: ansible_user_id == "zuul-worker"
      changed_when: true
      tags:
        - skip_ansible_lint

    - name: Ensure legacy workspace directory
      file:
        path: '{{ ansible_user_dir }}/workspace'
        state: directory
      when: ansible_user_id != "zuul-worker"
