- hosts: all
  vars:
    promote_source: tripleo-ci-testing
    promote_target: promoted-components
  tasks:
    - name: Create hash_info file with hashes from {{ promote_source }}
      include_role:
        name: promote-hash
        tasks_from: get-hash.yaml

    - name: check component promotion criteria
      include_role:
        name: promote-hash
        tasks_from: check-promotion-criteria.yaml

    - name: Promote component to {{ promote_target }}
      include_role:
        name: promote-hash
        tasks_from: promote-primary-distro.yaml
