resources:
  groups:
    openstack/ironic-prometheus-exporter-core:
      description: Core developers for project ironic-prometheus-exporter
      members:
      - dtantsur@protonmail.com
      - elfosardo@gmail.com
      - iurygregory@gmail.com
      - jkreger@gmail.com
    openstack/ironic-prometheus-exporter-ptl:
      description: Project team lead for project ironic-prometheus-exporter
      members:
      - admin@review.rdoproject.org
  acls:
    openstack-ironic-prometheus-exporter-distgit:
      file: |
        [access "refs/*"]
          read = group openstack/ironic-prometheus-exporter-core
          owner = group openstack/ironic-prometheus-exporter-ptl
          owner = group rdo-superusers
        [access "refs/heads/*"]
          label-Code-Review = -2..+2 group openstack/ironic-prometheus-exporter-core
          label-Code-Review = -2..+2 group openstack/ironic-prometheus-exporter-ptl
          label-Code-Review = -2..+2 group rdo-provenpackagers
          label-Code-Review = -2..+2 group rdo-superusers
          submit = group openstack/ironic-prometheus-exporter-ptl
          submit = group rdo-superusers
          read = group Registered Users
          read = group openstack/ironic-prometheus-exporter-core
          read = group rdo-provenpackagers
          abandon = group openstack/ironic-prometheus-exporter-core
          label-Verified = -2..+2 group openstack/ironic-prometheus-exporter-ptl
          label-Verified = -2..+2 group rdo-superusers
          label-Workflow = -1..+0 group Registered Users
          label-Workflow = -1..+1 group openstack/ironic-prometheus-exporter-core
          label-Workflow = -1..+1 group openstack/ironic-prometheus-exporter-ptl
          label-Workflow = -1..+1 group rdo-provenpackagers
        [access "refs/meta/config"]
          read = group Registered Users
          read = group openstack/ironic-prometheus-exporter-core
          read = group rdo-provenpackagers
        [receive]
          requireChangeId = true
        [submit]
          mergeContent = false
          action = rebase if necessary
      groups:
      - openstack/ironic-prometheus-exporter-core
      - openstack/ironic-prometheus-exporter-ptl
      - rdo-provenpackagers
      - rdo-superusers
    openstack-ironic-prometheus-exporter:
      file: |
        [access "refs/*"]
          read = group openstack/ironic-prometheus-exporter-core
          owner = group openstack/ironic-prometheus-exporter-ptl
          owner = group rdo-superusers
        [access "refs/heads/*"]
          label-Code-Review = -2..+2 group openstack/ironic-prometheus-exporter-core
          label-Code-Review = -2..+2 group openstack/ironic-prometheus-exporter-ptl
          label-Code-Review = -2..+2 group rdo-provenpackagers
          label-Code-Review = -2..+2 group rdo-superusers
          submit = group openstack/ironic-prometheus-exporter-ptl
          submit = group rdo-superusers
          read = group Registered Users
          read = group openstack/ironic-prometheus-exporter-core
          read = group rdo-provenpackagers
          label-Verified = -2..+0 group openstack/ironic-prometheus-exporter-ptl
          label-Verified = -2..+0 group rdo-superusers
          label-Workflow = -1..+0 group Registered Users
          label-Workflow = -1..+0 group openstack/ironic-prometheus-exporter-core
          label-Workflow = -1..+0 group openstack/ironic-prometheus-exporter-ptl
          label-Workflow = -1..+0 group rdo-provenpackagers
        [access "refs/meta/config"]
          read = group Registered Users
          read = group openstack/ironic-prometheus-exporter-core
          read = group rdo-provenpackagers
        [receive]
          requireChangeId = true
        [submit]
          mergeContent = false
          action = rebase if necessary
      groups:
      - openstack/ironic-prometheus-exporter-core
      - openstack/ironic-prometheus-exporter-ptl
      - rdo-provenpackagers
      - rdo-superusers
  repos:
    openstack/ironic-prometheus-exporter:
      acl: openstack-ironic-prometheus-exporter
      description: Mirror of upstream ironic-prometheus-exporter (mirror + patches)
    openstack/ironic-prometheus-exporter-distgit:
      acl: openstack-ironic-prometheus-exporter-distgit
      description: Packaging of upstream ironic-prometheus-exporter
      default-branch: rpm-master
      branches:
        master: '0'
        train-rdo: 944a49ea27400fcdae83cd51122c1950e95ea97b
        ussuri-rdo: 18f7036b098f6a234d89d6d3aa1ea815cb3ebef5
        victoria-rdo: 9ac9cd756c652d50f8a789b77b736e2313dbfe63
        wallaby-rdo: 0abaf4729bcb73ec9e4a09a593d138cf38c86e7e
        xena-rdo: 0abaf4729bcb73ec9e4a09a593d138cf38c86e7e
        yoga-rdo: a1ab7c9d26614d0eafb86eed82fff6cc36bd89ab
        zed-rdo: a1ab7c9d26614d0eafb86eed82fff6cc36bd89ab
        antelope-rdo: a1ab7c9d26614d0eafb86eed82fff6cc36bd89ab
        bobcat-rdo: 54b45e8f3d309d28b922af72076ffb6f9c31c78b
