resources:
  groups:
    openstack/os-apply-config-core:
      description: Core developers for project os-apply-config
      members:
      - james.slagle@gmail.com
      - aschultz@next-development.com
      - cjeanner@redhat.com
      - kecarter@redhat.com
    openstack/os-apply-config-ptl:
      description: Project team lead for project os-apply-config
      members:
      - admin@review.rdoproject.org
  acls:
    openstack-os-apply-config-distgit:
      file: |
        [access "refs/*"]
          read = group openstack/os-apply-config-core
          owner = group openstack/os-apply-config-ptl
          owner = group rdo-superusers
        [access "refs/heads/*"]
          label-Code-Review = -2..+2 group openstack/os-apply-config-core
          label-Code-Review = -2..+2 group openstack/os-apply-config-ptl
          label-Code-Review = -2..+2 group rdo-provenpackagers
          label-Code-Review = -2..+2 group rdo-superusers
          submit = group openstack/os-apply-config-ptl
          submit = group rdo-superusers
          read = group Registered Users
          read = group openstack/os-apply-config-core
          read = group rdo-provenpackagers
          abandon = group openstack/os-apply-config-core
          label-Verified = -2..+2 group openstack/os-apply-config-ptl
          label-Verified = -2..+2 group rdo-superusers
          label-Workflow = -1..+0 group Registered Users
          label-Workflow = -1..+1 group openstack/os-apply-config-core
          label-Workflow = -1..+1 group openstack/os-apply-config-ptl
          label-Workflow = -1..+1 group rdo-provenpackagers
        [access "refs/meta/config"]
          read = group Registered Users
          read = group openstack/os-apply-config-core
          read = group rdo-provenpackagers
        [receive]
          requireChangeId = true
        [submit]
          mergeContent = false
          action = rebase if necessary
      groups:
      - openstack/os-apply-config-core
      - openstack/os-apply-config-ptl
      - rdo-provenpackagers
      - rdo-superusers
    openstack-os-apply-config:
      file: |
        [access "refs/*"]
          read = group openstack/os-apply-config-core
          owner = group openstack/os-apply-config-ptl
          owner = group rdo-superusers
        [access "refs/heads/*"]
          label-Code-Review = -2..+2 group openstack/os-apply-config-core
          label-Code-Review = -2..+2 group openstack/os-apply-config-ptl
          label-Code-Review = -2..+2 group rdo-provenpackagers
          label-Code-Review = -2..+2 group rdo-superusers
          submit = group openstack/os-apply-config-ptl
          submit = group rdo-superusers
          read = group Registered Users
          read = group openstack/os-apply-config-core
          read = group rdo-provenpackagers
          label-Verified = -2..+0 group openstack/os-apply-config-ptl
          label-Verified = -2..+0 group rdo-superusers
          label-Workflow = -1..+0 group Registered Users
          label-Workflow = -1..+0 group openstack/os-apply-config-core
          label-Workflow = -1..+0 group openstack/os-apply-config-ptl
          label-Workflow = -1..+0 group rdo-provenpackagers
        [access "refs/meta/config"]
          read = group Registered Users
          read = group openstack/os-apply-config-core
          read = group rdo-provenpackagers
        [receive]
          requireChangeId = true
        [submit]
          mergeContent = false
          action = rebase if necessary
      groups:
      - openstack/os-apply-config-core
      - openstack/os-apply-config-ptl
      - rdo-provenpackagers
      - rdo-superusers
  repos:
    openstack/os-apply-config:
      acl: openstack-os-apply-config
      description: Mirror of upstream os-apply-config (mirror + patches)
    openstack/os-apply-config-distgit:
      acl: openstack-os-apply-config-distgit
      description: Packaging of upstream os-apply-config
      branches:
        pike-rdo: 59764b303691e470c0c43faab9d8194933706323
        queens-rdo: 45cb0870b8b958605dc8fb505373f6c3c5a4b67f
        rocky-rdo: 45cb0870b8b958605dc8fb505373f6c3c5a4b67f
        stein-rdo: 48c8ee2a8c930e8fd7516c38591d770f73e5b6eb
        train-rdo: 48c8ee2a8c930e8fd7516c38591d770f73e5b6eb
        ussuri-rdo: 24129adbaf0b2fb807e76ae32c91fbb2b2ab690d
        victoria-rdo: 24129adbaf0b2fb807e76ae32c91fbb2b2ab690d
        wallaby-rdo: 6b643a836fe252fa5ba1c6c51954a7268a1b7a05
        xena-rdo: f8f92517a0f84633dedd1f787ca136ea4a25cf54
        yoga-rdo: f8f92517a0f84633dedd1f787ca136ea4a25cf54
        zed-rdo: f8f92517a0f84633dedd1f787ca136ea4a25cf54
        antelope-rdo: f8f92517a0f84633dedd1f787ca136ea4a25cf54
        bobcat-rdo: 85ec6a1e197ff4a9c281c68ffb61d399823b4e50
      default-branch: rpm-master
