resources:
  groups:
    openstack/oslo-config-core:
      description: Core developers for project oslo-config
      members:
      - apevec@redhat.com
      - hguemar@redhat.com
      - lbezdick@redhat.com
    openstack/oslo-config-ptl:
      description: Project team lead for project oslo-config
      members:
      - admin@review.rdoproject.org
  acls:
    openstack-oslo-config-distgit:
      file: |
        [access "refs/*"]
          read = group openstack/oslo-config-core
          owner = group openstack/oslo-config-ptl
          owner = group rdo-superusers
        [access "refs/heads/*"]
          label-Code-Review = -2..+2 group openstack/oslo-config-core
          label-Code-Review = -2..+2 group openstack/oslo-config-ptl
          label-Code-Review = -2..+2 group rdo-provenpackagers
          label-Code-Review = -2..+2 group rdo-superusers
          submit = group openstack/oslo-config-ptl
          submit = group rdo-superusers
          read = group Registered Users
          read = group openstack/oslo-config-core
          read = group rdo-provenpackagers
          abandon = group openstack/oslo-config-core
          label-Verified = -2..+2 group openstack/oslo-config-ptl
          label-Verified = -2..+2 group rdo-superusers
          label-Workflow = -1..+0 group Registered Users
          label-Workflow = -1..+1 group openstack/oslo-config-core
          label-Workflow = -1..+1 group openstack/oslo-config-ptl
          label-Workflow = -1..+1 group rdo-provenpackagers
        [access "refs/meta/config"]
          read = group Registered Users
          read = group openstack/oslo-config-core
          read = group rdo-provenpackagers
        [receive]
          requireChangeId = true
        [submit]
          mergeContent = false
          action = rebase if necessary
      groups:
      - openstack/oslo-config-core
      - openstack/oslo-config-ptl
      - rdo-provenpackagers
      - rdo-superusers
    openstack-oslo-config:
      file: |
        [access "refs/*"]
          read = group openstack/oslo-config-core
          owner = group openstack/oslo-config-ptl
          owner = group rdo-superusers
        [access "refs/heads/*"]
          label-Code-Review = -2..+2 group openstack/oslo-config-core
          label-Code-Review = -2..+2 group openstack/oslo-config-ptl
          label-Code-Review = -2..+2 group rdo-provenpackagers
          label-Code-Review = -2..+2 group rdo-superusers
          submit = group openstack/oslo-config-ptl
          submit = group rdo-superusers
          read = group Registered Users
          read = group openstack/oslo-config-core
          read = group rdo-provenpackagers
          label-Verified = -2..+0 group openstack/oslo-config-ptl
          label-Verified = -2..+0 group rdo-superusers
          label-Workflow = -1..+0 group Registered Users
          label-Workflow = -1..+0 group openstack/oslo-config-core
          label-Workflow = -1..+0 group openstack/oslo-config-ptl
          label-Workflow = -1..+0 group rdo-provenpackagers
        [access "refs/meta/config"]
          read = group Registered Users
          read = group openstack/oslo-config-core
          read = group rdo-provenpackagers
        [receive]
          requireChangeId = true
        [submit]
          mergeContent = false
          action = rebase if necessary
      groups:
      - openstack/oslo-config-core
      - openstack/oslo-config-ptl
      - rdo-provenpackagers
      - rdo-superusers
  repos:
    openstack/oslo-config:
      acl: openstack-oslo-config
      description: Mirror of upstream oslo-config (mirror + patches)
    openstack/oslo-config-distgit:
      acl: openstack-oslo-config-distgit
      description: Packaging of upstream oslo-config
      branches:
        pike-rdo: 4ee0e89edfa3ac47b41654ea274ba988e5cf5e4b
        queens-rdo: 829f2502cb51604f492b40c07ef2b90b035e8ceb
        rocky-rdo: d40bdb5be97c0c18aa6ebd636f414011f5c73dbf
        stein-rdo: e70cefaefaeb6c7bb068e21ec563b52397d12aea
        train-rdo: 3f746b5091221d80cfc77fc5406ead945294fa1f
        ussuri-rdo: d53118a8632d2ae4908205fdd130a2f608bd3def
        victoria-rdo: 1d54f052c047f148f82dd500ee9cfbd88e26adfd
        wallaby-rdo: 74b2310b130cdd99006a9c11ca40bf95c42b618c
        xena-rdo: 6cd4ab6c9054fa5cc3a7f85ddaf401e933ef79db
        yoga-rdo: 6cd4ab6c9054fa5cc3a7f85ddaf401e933ef79db
        zed-rdo: 6cd4ab6c9054fa5cc3a7f85ddaf401e933ef79db
        antelope-rdo: 5a24d73b15c15184c1eb6081d23128ae7358e76d
        bobcat-rdo: 8614ed8e5de90e285b1e8cf3cd33e9ee7735e0ca
      default-branch: rpm-master
