resources:
  groups:
    openstack/ansible-role-collectd-config-core:
      description: Core developers for project ansible-role-collectd-config
      members:
      - efoley@redhat.com
    openstack/ansible-role-collectd-config-ptl:
      description: Project team lead for project ansible-role-collectd-config
      members:
      - admin@review.rdoproject.org
  acls:
    openstack-ansible-role-collectd-config-distgit:
      file: |
        [access "refs/*"]
          read = group openstack/ansible-role-collectd-config-core
          owner = group openstack/ansible-role-collectd-config-ptl
          owner = group rdo-superusers
        [access "refs/heads/*"]
          label-Code-Review = -2..+2 group openstack/ansible-role-collectd-config-core
          label-Code-Review = -2..+2 group openstack/ansible-role-collectd-config-ptl
          label-Code-Review = -2..+2 group rdo-provenpackagers
          label-Code-Review = -2..+2 group rdo-superusers
          submit = group openstack/ansible-role-collectd-config-ptl
          submit = group rdo-superusers
          read = group Registered Users
          read = group openstack/ansible-role-collectd-config-core
          read = group rdo-provenpackagers
          abandon = group openstack/ansible-role-collectd-config-core
          label-Verified = -2..+2 group openstack/ansible-role-collectd-config-ptl
          label-Verified = -2..+2 group rdo-superusers
          label-Workflow = -1..+0 group Registered Users
          label-Workflow = -1..+1 group openstack/ansible-role-collectd-config-core
          label-Workflow = -1..+1 group openstack/ansible-role-collectd-config-ptl
          label-Workflow = -1..+1 group rdo-provenpackagers
        [access "refs/meta/config"]
          read = group Registered Users
          read = group openstack/ansible-role-collectd-config-core
          read = group rdo-provenpackagers
        [receive]
          requireChangeId = true
        [submit]
          mergeContent = false
          action = rebase if necessary
      groups:
      - openstack/ansible-role-collectd-config-core
      - openstack/ansible-role-collectd-config-ptl
      - rdo-provenpackagers
      - rdo-superusers
    openstack-ansible-role-collectd-config:
      file: |
        [access "refs/*"]
          read = group openstack/ansible-role-collectd-config-core
          owner = group openstack/ansible-role-collectd-config-ptl
          owner = group rdo-superusers
        [access "refs/heads/*"]
          label-Code-Review = -2..+2 group openstack/ansible-role-collectd-config-core
          label-Code-Review = -2..+2 group openstack/ansible-role-collectd-config-ptl
          label-Code-Review = -2..+2 group rdo-provenpackagers
          label-Code-Review = -2..+2 group rdo-superusers
          submit = group openstack/ansible-role-collectd-config-ptl
          submit = group rdo-superusers
          read = group Registered Users
          read = group openstack/ansible-role-collectd-config-core
          read = group rdo-provenpackagers
          label-Verified = -2..+0 group openstack/ansible-role-collectd-config-ptl
          label-Verified = -2..+0 group rdo-superusers
          label-Workflow = -1..+0 group Registered Users
          label-Workflow = -1..+0 group openstack/ansible-role-collectd-config-core
          label-Workflow = -1..+0 group openstack/ansible-role-collectd-config-ptl
          label-Workflow = -1..+0 group rdo-provenpackagers
        [access "refs/meta/config"]
          read = group Registered Users
          read = group openstack/ansible-role-collectd-config-core
          read = group rdo-provenpackagers
        [receive]
          requireChangeId = true
        [submit]
          mergeContent = false
          action = rebase if necessary
      groups:
      - openstack/ansible-role-collectd-config-core
      - openstack/ansible-role-collectd-config-ptl
      - rdo-provenpackagers
      - rdo-superusers
  repos:
    openstack/ansible-role-collectd-config:
      acl: openstack-ansible-role-collectd-config
      description: Mirror of upstream ansible-role-collectd-config (mirror + patches)
    openstack/ansible-role-collectd-config-distgit:
      acl: openstack-ansible-role-collectd-config-distgit
      description: Packaging of upstream ansible-role-collectd-config
      default-branch: rpm-master
      branches:
        master: '0'
        wallaby-rdo: 55ed0a70c936f3ca82c454e52201039acea3bf22
        xena-rdo: e52d88ac935d79a21c8f3a4f924728d65fa5482e
        yoga-rdo: e52d88ac935d79a21c8f3a4f924728d65fa5482e
        zed-rdo: e52d88ac935d79a21c8f3a4f924728d65fa5482e
        antelope-rdo: e52d88ac935d79a21c8f3a4f924728d65fa5482e
