resources:
  groups:
    openstack/os-collect-config-core:
      description: Core developers for project os-collect-config
      members:
      - james.slagle@gmail.com
      - aschultz@next-development.com
      - cjeanner@redhat.com
      - kecarter@redhat.com
    openstack/os-collect-config-ptl:
      description: Project team lead for project os-collect-config
      members:
      - admin@review.rdoproject.org
  acls:
    openstack-os-collect-config-distgit:
      file: |
        [access "refs/*"]
          read = group openstack/os-collect-config-core
          owner = group openstack/os-collect-config-ptl
          owner = group rdo-superusers
        [access "refs/heads/*"]
          label-Code-Review = -2..+2 group openstack/os-collect-config-core
          label-Code-Review = -2..+2 group openstack/os-collect-config-ptl
          label-Code-Review = -2..+2 group rdo-provenpackagers
          label-Code-Review = -2..+2 group rdo-superusers
          submit = group openstack/os-collect-config-ptl
          submit = group rdo-superusers
          read = group Registered Users
          read = group openstack/os-collect-config-core
          read = group rdo-provenpackagers
          abandon = group openstack/os-collect-config-core
          label-Verified = -2..+2 group openstack/os-collect-config-ptl
          label-Verified = -2..+2 group rdo-superusers
          label-Workflow = -1..+0 group Registered Users
          label-Workflow = -1..+1 group openstack/os-collect-config-core
          label-Workflow = -1..+1 group openstack/os-collect-config-ptl
          label-Workflow = -1..+1 group rdo-provenpackagers
        [access "refs/meta/config"]
          read = group Registered Users
          read = group openstack/os-collect-config-core
          read = group rdo-provenpackagers
        [receive]
          requireChangeId = true
        [submit]
          mergeContent = false
          action = rebase if necessary
      groups:
      - openstack/os-collect-config-core
      - openstack/os-collect-config-ptl
      - rdo-provenpackagers
      - rdo-superusers
    openstack-os-collect-config:
      file: |
        [access "refs/*"]
          read = group openstack/os-collect-config-core
          owner = group openstack/os-collect-config-ptl
          owner = group rdo-superusers
        [access "refs/heads/*"]
          label-Code-Review = -2..+2 group openstack/os-collect-config-core
          label-Code-Review = -2..+2 group openstack/os-collect-config-ptl
          label-Code-Review = -2..+2 group rdo-provenpackagers
          label-Code-Review = -2..+2 group rdo-superusers
          submit = group openstack/os-collect-config-ptl
          submit = group rdo-superusers
          read = group Registered Users
          read = group openstack/os-collect-config-core
          read = group rdo-provenpackagers
          label-Verified = -2..+0 group openstack/os-collect-config-ptl
          label-Verified = -2..+0 group rdo-superusers
          label-Workflow = -1..+0 group Registered Users
          label-Workflow = -1..+0 group openstack/os-collect-config-core
          label-Workflow = -1..+0 group openstack/os-collect-config-ptl
          label-Workflow = -1..+0 group rdo-provenpackagers
        [access "refs/meta/config"]
          read = group Registered Users
          read = group openstack/os-collect-config-core
          read = group rdo-provenpackagers
        [receive]
          requireChangeId = true
        [submit]
          mergeContent = false
          action = rebase if necessary
      groups:
      - openstack/os-collect-config-core
      - openstack/os-collect-config-ptl
      - rdo-provenpackagers
      - rdo-superusers
  repos:
    openstack/os-collect-config:
      acl: openstack-os-collect-config
      description: Mirror of upstream os-collect-config (mirror + patches)
    openstack/os-collect-config-distgit:
      acl: openstack-os-collect-config-distgit
      description: Packaging of upstream os-collect-config
      branches:
        pike-rdo: 0079ab157beb4994ff2ec1be054c94fd0d450e4b
        queens-rdo: 2010437f04ce586bfdf8c29245962839b40689ec
        rocky-rdo: 42ccce51cc2adf6d01c902af4cd0e38f60bc37f3
        stein-rdo: 99fff8f6679fff8596114b88be618d8bb475dd6b
        train-rdo: 99fff8f6679fff8596114b88be618d8bb475dd6b
        ussuri-rdo: 94a427c16e8ba00ee5daeb0b8b9baeb897df4ba4
        victoria-rdo: 94a427c16e8ba00ee5daeb0b8b9baeb897df4ba4
        wallaby-rdo: df0bd7aa1100155fba772b1fa669fd328e108784
        xena-rdo: 43d6607e1e1b86b0f35d8c9f3e075957bd0b20a8
        yoga-rdo: 43d6607e1e1b86b0f35d8c9f3e075957bd0b20a8
        zed-rdo: 43d6607e1e1b86b0f35d8c9f3e075957bd0b20a8
        antelope-rdo: 43d6607e1e1b86b0f35d8c9f3e075957bd0b20a8
        bobcat-rdo: 502689cbbbe8533104b2224a7b57eb4ab84e0849
      default-branch: rpm-master
