[gerrit]
        defaultForceUpdate = true

[remote "DLRN"]
        url = git@alias_gh_DLRN:openstack-packages/DLRN.git
        projects = DLRN
[remote "rdopkg"]
        url = git@alias_gh_rdopkg:openstack-packages/rdopkg.git
        projects = rdopkg
[remote "rdoinfo"]
        url = git@alias_gh_rdoinfo:redhat-openstack/rdoinfo.git
        projects = rdoinfo

[remote "centos-opstools-repositories"]
        url = git@github.com:centos-opstools/${name}.git
        remoteNameStyle = basenameOnly
        projects = ^centos-opstools/.*

[remote "rdo-infra_centos-release-openstack"]
        url = git@github.com:rdo-infra/centos-release-openstack.git
        projects = rdo-infra/centos-release-openstack

[remote "rdo-infra_rdo-release"]
        url = git@github.com:rdo-infra/rdo-release.git
        projects = rdo-infra/rdo-release

[remote "rdo-infra_puppet-dlrn"]
        url = git@alias_gh_rdo-infra_puppet-dlrn:rdo-infra/puppet-dlrn.git
        projects = rdo-infra/puppet-dlrn

[remote "rdo-packages-replica"]
        url = git@github.com:rdo-packages/${name}.git
        remoteNameStyle = basenameOnly
        projects = ^(openstack|puppet)/.+-distgit

[remote "rdo-infra-weirdo-replica"]
        url = git@github.com:rdo-infra/${name}.git
        remoteNameStyle = basenameOnly
        projects = ^rdo-infra/(ansible-role-)?weirdo.*

[remote "rdo-infra-playbooks"]
        url = git@github.com:rdo-infra/rdo-infra-playbooks.git
        projects = rdo-infra/rdo-infra-playbooks

[remote "rdo-infra-rdo-roles-replica"]
        url = git@github.com:rdo-infra/${name}.git
        remoteNameStyle = basenameOnly
        projects = ^rdo-infra/ansible-role-rdo.*

[remote "rdo-infra-ansible-role-logserver"]
        url = git@github.com:rdo-infra/ansible-role-logserver.git
        projects = rdo-infra/ansible-role-logserver

[remote "rdo-infra-rdobot"]
        url = git@github.com:rdo-infra/rdobot.git
        projects = rdo-infra/rdobot

[remote "rdo-infra-ci-config"]
        url = git@github.com:rdo-infra/ci-config.git
        projects = rdo-infra/ci-config

[remote "rdo-infra-rdo-dashboards"]
        url = git@github.com:rdo-infra/rdo-dashboards.git
        projects = rdo-infra/rdo-dashboards

[remote "rdo-infra-ansible-role-rdo_dashboards"]
        url = git@github.com:rdo-infra/ansible-role-rdo_dashboards.git
        projects = rdo-infra/ansible-role-rdo_dashboards

[remote "rdo-infra-releng"]
        url = git@github.com:rdo-infra/releng.git
        projects = rdo-infra/releng
