[gerrit]
        defaultForceUpdate = true

[remote "review.rdoproject.org-config"]
        url = git@github.com:rdo-infra/review.rdoproject.org-config.git
        projects = config

[remote "rdo-jobs"]
        url = git@github.com:rdo-infra/rdo-jobs.git
        projects = rdo-jobs

[remote "test-project"]
        url = git@github.com:rdo-infra/test-project.git
        projects = test-project

[remote "rdoinfo"]
        url = git@alias_gh_rdoinfo:redhat-openstack/rdoinfo.git
        projects = rdoinfo

[remote "rdo-website"]
        url = git@github.com:redhat-openstack/website.git
        projects = rdo-website

[remote "centos-opstools-repositories"]
        url = git@github.com:${name}.git
        projects = ^centos-opstools/.*

[remote "rdo-infra_centos-release-openstack"]
        url = git@github.com:rdo-infra/centos-release-openstack.git
        projects = rdo-infra/centos-release-openstack

[remote "rdo-infra_rdo-release"]
        url = git@github.com:rdo-infra/rdo-release.git
        projects = rdo-infra/rdo-release

[remote "rdo-infra_puppet-dlrn"]
        url = git@alias_gh_rdo-infra_puppet-dlrn:rdo-infra/puppet-dlrn.git
        projects = rdo-infra/puppet-dlrn

[remote "rdo-infra_ansible-role-dlrn"]
        url = git@github.com:rdo-infra/ansible-role-dlrn.git
        projects = rdo-infra/ansible-role-dlrn

[remote "rdo-packages-replica"]
        url = git@github.com:rdo-packages/${name}.git
        remoteNameStyle = basenameOnly
        projects = ^(openstack|puppet)/.+-distgit

[remote "rdo-infra-weirdo-replica"]
        url = git@github.com:rdo-infra/${name}.git
        remoteNameStyle = basenameOnly
        projects = ^rdo-infra/(ansible-role-)?weirdo.*

[remote "rdo-infra-playbooks"]
        url = git@github.com:rdo-infra/rdo-infra-playbooks.git
        projects = rdo-infra/rdo-infra-playbooks

[remote "rdo-infra-rdo-roles-replica"]
        url = git@github.com:rdo-infra/${name}.git
        remoteNameStyle = basenameOnly
        projects = ^rdo-infra/ansible-role-rdo.*

[remote "rdo-infra-ansible-role-logserver"]
        url = git@github.com:rdo-infra/ansible-role-logserver.git
        projects = rdo-infra/ansible-role-logserver

[remote "rdo-infra-rdobot"]
        url = git@github.com:rdo-infra/rdobot.git
        projects = rdo-infra/rdobot

[remote "rdo-infra-ci-config"]
        url = git@github.com:rdo-infra/ci-config.git
        projects = rdo-infra/ci-config

[remote "rdo-infra-rdo-dashboards"]
        url = git@github.com:rdo-infra/rdo-dashboards.git
        projects = rdo-infra/rdo-dashboards

[remote "rdo-infra-ansible-role-rdo_dashboards"]
        url = git@github.com:rdo-infra/ansible-role-rdo_dashboards.git
        projects = rdo-infra/ansible-role-rdo_dashboards

[remote "rdo-infra-rdo-container-registry"]
        url = git@github.com:rdo-infra/rdo-container-registry.git
        projects = rdo-infra/rdo-container-registry

[remote "rdo-infra-releng"]
        url = git@github.com:rdo-infra/releng.git
        projects = rdo-infra/releng

[remote "rdo-infra-example-distgit"]
        url = git@github.com:rdo-infra/example-distgit.git
        projects = rdo-infra/example-distgit

[remote "rdo-infra-test-day-tools"]
        url = git@github.com:rdo-infra/test-day-tools.git
        projects = rdo-infra/test-day-tools

[remote "rdo-infra-fedora-stable-config"]
        url = git@github.com:rdo-infra/fedora-stable-config.git
        projects = rdo-infra/fedora-stable-config

[remote "rdo-infra-sinkhole"]
        url = git@github.com:rdo-infra/sinkhole.git
        projects = rdo-infra/sinkhole

[remote "rdo-infra-ansible-role-tripleo-ci-reproducer"]
        url = git@github.com:rdo-infra/ansible-role-tripleo-ci-reproducer.git
        projects = rdo-infra/ansible-role-tripleo-ci-reproducer

[remote "rdo-infra-ansible-role-tripleo-ci-zuul-runner"]
        url = git@github.com:rdo-infra/ansible-role-tripleo-ci-zuul-runner.git
        projects = rdo-infra/ansible-role-tripleo-ci-zuul-runner

[remote "rdo-infra_rdo-planet"]
        url = git@github.com:rdo-infra/rdo-planet.git
        projects = rdo-infra/rdo-planet
