[gerrit]
        defaultForceUpdate = true

[remote "DLRN"]
        url = git@alias_gh_DLRN:openstack-packages/DLRN.git
        projects = DLRN
[remote "rdoinfo"]
        url = git@alias_gh_rdoinfo:redhat-openstack/rdoinfo.git
        projects = rdoinfo
[remote "openstack_swift-distgit"]
        url = git@alias_gh_openstack_swift-distgit:rdo-packages/swift-distgit.git
        projects = openstack/swift-distgit
[remote "openstack_swiftclient-distgit"]
        url = git@alias_gh_openstack_swiftclient-distgit:rdo-packages/swiftclient-distgit.git
        projects = openstack/swiftclient-distgit
[remote "openstack_cinder-distgit"]
        url = git@alias_gh_openstack_cinder-distgit:rdo-packages/cinder-distgit.git
        projects = openstack/cinder-distgit
[remote "openstack_cinderclient-distgit"]
        url = git@alias_gh_openstack_cinderclient-distgit:rdo-packages/cinderclient-distgit.git
        projects = openstack/cinderclient-distgit
[remote "openstack_neutron-distgit"]
        url = git@alias_gh_openstack_neutron-distgit:rdo-packages/neutron-distgit.git
        projects = openstack/neutron-distgit
[remote "openstack_neutronclient-distgit"]
        url = git@alias_gh_openstack_neutronclient-distgit:rdo-packages/neutronclient-distgit.git
        projects = openstack/neutronclient-distgit
[remote "openstack_reno-distgit"]
        url = git@alias_gh_openstack_reno-distgit:rdo-packages/reno-distgit.git
        projects = openstack/reno-distgit
[remote "openstack_oslo-rootwrap-distgit"]
        url = git@alias_gh_openstack_oslo-rootwrap-distgit:rdo-packages/oslo-rootwrap-distgit.git
        projects = openstack/oslo-rootwrap-distgit
[remote "openstack_requestsexceptions-distgit"]
        url = git@alias_gh_openstack_requestsexceptions-distgit:rdo-packages/requestsexceptions-distgit.git
        projects = openstack/requestsexceptions-distgit
[remote "openstack_hardware-distgit"]
        url = git@alias_gh_openstack_hardware-distgit:rdo-packages/hardware-distgit.git
        projects = openstack/hardware-distgit
[remote "openstack_oslo-versionedobjects-distgit"]
        url = git@alias_gh_openstack_oslo-versionedobjects-distgit:rdo-packages/oslo-versionedobjects-distgit.git
        projects = openstack/oslo-versionedobjects-distgit
[remote "openstack_oslo-service-distgit"]
        url = git@alias_gh_openstack_oslo-service-distgit:rdo-packages/oslo-service-distgit.git
        projects = openstack/oslo-service-distgit
[remote "openstack_debtcollector-distgit"]
        url = git@alias_gh_openstack_debtcollector-distgit:rdo-packages/debtcollector-distgit.git
        projects = openstack/debtcollector-distgit
[remote "openstack_tempest-lib-distgit"]
        url = git@alias_gh_openstack_tempest-lib-distgit:rdo-packages/tempest-lib-distgit.git
        projects = openstack/tempest-lib-distgit
[remote "openstack_UcsSdk-distgit"]
        url = git@alias_gh_openstack_UcsSdk-distgit:rdo-packages/UcsSdk-distgit.git
        projects = openstack/UcsSdk-distgit
[remote "openstack_oslo-utils-distgit"]
        url = git@alias_gh_openstack_oslo-utils-distgit:rdo-packages/oslo-utils-distgit.git
        projects = openstack/oslo-utils-distgit
[remote "openstack_futurist-distgit"]
        url = git@alias_gh_openstack_futurist-distgit:rdo-packages/futurist-distgit.git
        projects = openstack/futurist-distgit
[remote "openstack_castellan-distgit"]
        url = git@alias_gh_openstack_castellan-distgit:rdo-packages/castellan-distgit.git
        projects = openstack/castellan-distgit
[remote "openstack_cliff-distgit"]
        url = git@alias_gh_openstack_cliff-distgit:rdo-packages/cliff-distgit.git
        projects = openstack/cliff-distgit
[remote "openstack_oslo-serialization-distgit"]
        url = git@alias_gh_openstack_oslo-serialization-distgit:rdo-packages/oslo-serialization-distgit.git
        projects = openstack/oslo-serialization-distgit
[remote "openstack_oslo-middleware-distgit"]
        url = git@alias_gh_openstack_oslo-middleware-distgit:rdo-packages/oslo-middleware-distgit.git
        projects = openstack/oslo-middleware-distgit
[remote "openstack_ironic-lib-distgit"]
        url = git@alias_gh_openstack_ironic-lib-distgit:rdo-packages/ironic-lib-distgit.git
        projects = openstack/ironic-lib-distgit
[remote "openstack_oslo-reports-distgit"]
        url = git@alias_gh_openstack_oslo-reports-distgit:rdo-packages/oslo-reports-distgit.git
        projects = openstack/oslo-reports-distgit
[remote "openstack_oslo-vmware-distgit"]
        url = git@alias_gh_openstack_oslo-vmware-distgit:rdo-packages/oslo-vmware-distgit.git
        projects = openstack/oslo-vmware-distgit
[remote "openstack_oslo-i18n-distgit"]
        url = git@alias_gh_openstack_oslo-i18n-distgit:rdo-packages/oslo-i18n-distgit.git
        projects = openstack/oslo-i18n-distgit
[remote "openstack_django_openstack_auth-distgit"]
        url = git@alias_gh_openstack_django_openstack_auth-distgit:rdo-packages/django_openstack_auth-distgit.git
        projects = openstack/django_openstack_auth-distgit
[remote "openstack_oslo-context-distgit"]
        url = git@alias_gh_openstack_oslo-context-distgit:rdo-packages/oslo-context-distgit.git
        projects = openstack/oslo-context-distgit
[remote "openstack_neutron-lib-distgit"]
        url = git@alias_gh_openstack_neutron-lib-distgit:rdo-packages/neutron-lib-distgit.git
        projects = openstack/neutron-lib-distgit
[remote "openstack_os-win-distgit"]
        url = git@alias_gh_openstack_os-win-distgit:rdo-packages/os-win-distgit.git
        projects = openstack/os-win-distgit
[remote "openstack_proliantutils-distgit"]
        url = git@alias_gh_openstack_proliantutils-distgit:rdo-packages/proliantutils-distgit.git
        projects = openstack/proliantutils-distgit
[remote "openstack_os-client-config-distgit"]
        url = git@alias_gh_openstack_os-client-config-distgit:rdo-packages/os-client-config-distgit.git
        projects = openstack/os-client-config-distgit
[remote "openstack_oslo-policy-distgit"]
        url = git@alias_gh_openstack_oslo-policy-distgit:rdo-packages/oslo-policy-distgit.git
        projects = openstack/oslo-policy-distgit
[remote "openstack_tooz-distgit"]
        url = git@alias_gh_openstack_tooz-distgit:rdo-packages/tooz-distgit.git
        projects = openstack/tooz-distgit
[remote "openstack_taskflow-distgit"]
        url = git@alias_gh_openstack_taskflow-distgit:rdo-packages/taskflow-distgit.git
        projects = openstack/taskflow-distgit
[remote "openstack_oslo-sphinx-distgit"]
        url = git@alias_gh_openstack_oslo-sphinx-distgit:rdo-packages/oslo-sphinx-distgit.git
        projects = openstack/oslo-sphinx-distgit
[remote "openstack_automaton-distgit"]
        url = git@alias_gh_openstack_automaton-distgit:rdo-packages/automaton-distgit.git
        projects = openstack/automaton-distgit
[remote "openstack_oslo-log-distgit"]
        url = git@alias_gh_openstack_oslo-log-distgit:rdo-packages/oslo-log-distgit.git
        projects = openstack/oslo-log-distgit
[remote "openstack_os-brick-distgit"]
        url = git@alias_gh_openstack_os-brick-distgit:rdo-packages/os-brick-distgit.git
        projects = openstack/os-brick-distgit
[remote "openstack_oslotest-distgit"]
        url = git@alias_gh_openstack_oslotest-distgit:rdo-packages/oslotest-distgit.git
        projects = openstack/oslotest-distgit
[remote "openstack_oslo-db-distgit"]
        url = git@alias_gh_openstack_oslo-db-distgit:rdo-packages/oslo-db-distgit.git
        projects = openstack/oslo-db-distgit
[remote "openstack_oslo-messaging-distgit"]
        url = git@alias_gh_openstack_oslo-messaging-distgit:rdo-packages/oslo-messaging-distgit.git
        projects = openstack/oslo-messaging-distgit
[remote "openstack_oslo-cache-distgit"]
        url = git@alias_gh_openstack_oslo-cache-distgit:rdo-packages/oslo-cache-distgit.git
        projects = openstack/oslo-cache-distgit
[remote "openstack_os-testr-distgit"]
        url = git@alias_gh_openstack_os-testr-distgit:rdo-packages/os-testr-distgit.git
        projects = openstack/os-testr-distgit
[remote "openstack_oslo-config-distgit"]
        url = git@alias_gh_openstack_oslo-config-distgit:rdo-packages/oslo-config-distgit.git
        projects = openstack/oslo-config-distgit
[remote "openstack_stevedore-distgit"]
        url = git@alias_gh_openstack_stevedore-distgit:rdo-packages/stevedore-distgit.git
        projects = openstack/stevedore-distgit
[remote "openstack_mox3-distgit"]
        url = git@alias_gh_openstack_mox3-distgit:rdo-packages/mox3-distgit.git
        projects = openstack/mox3-distgit
[remote "openstack_hacking-distgit"]
        url = git@alias_gh_openstack_hacking-distgit:rdo-packages/hacking-distgit.git
        projects = openstack/hacking-distgit
[remote "openstack_oslo-concurrency-distgit"]
        url = git@alias_gh_openstack_oslo-concurrency-distgit:rdo-packages/oslo-concurrency-distgit.git
        projects = openstack/oslo-concurrency-distgit
[remote "openstack_pycadf-distgit"]
        url = git@alias_gh_openstack_pycadf-distgit:rdo-packages/pycadf-distgit.git
        projects = openstack/pycadf-distgit
[remote "openstack_keystoneauth1-distgit"]
        url = git@alias_gh_openstack_keystoneauth1-distgit:rdo-packages/keystoneauth1-distgit.git
        projects = openstack/keystoneauth1-distgit
[remote "openstack_heatclient-distgit"]
        url = git@alias_gh_openstack_heatclient-distgit:rdo-packages/heatclient-distgit.git
        projects = openstack/heatclient-distgit
[remote "openstack_novaclient-distgit"]
        url = git@alias_gh_openstack_novaclient-distgit:rdo-packages/novaclient-distgit.git
        projects = openstack/novaclient-distgit
[remote "openstack_manilaclient-distgit"]
        url = git@alias_gh_openstack_manilaclient-distgit:rdo-packages/manilaclient-distgit.git
        projects = openstack/manilaclient-distgit
[remote "openstack_saharaclient-distgit"]
        url = git@alias_gh_openstack_saharaclient-distgit:rdo-packages/saharaclient-distgit.git
        projects = openstack/saharaclient-distgit
[remote "openstack_troveclient-distgit"]
        url = git@alias_gh_openstack_troveclient-distgit:rdo-packages/troveclient-distgit.git
        projects = openstack/troveclient-distgit
[remote "openstack_gnocchiclient-distgit"]
        url = git@alias_gh_openstack_gnocchiclient-distgit:rdo-packages/gnocchiclient-distgit.git
        projects = openstack/gnocchiclient-distgit
[remote "openstack_magnumclient-distgit"]
        url = git@alias_gh_openstack_magnumclient-distgit:rdo-packages/magnumclient-distgit.git
        projects = openstack/magnumclient-distgit
[remote "openstack_ironicclient-distgit"]
        url = git@alias_gh_openstack_ironicclient-distgit:rdo-packages/ironicclient-distgit.git
        projects = openstack/ironicclient-distgit
[remote "openstack_barbicanclient-distgit"]
        url = git@alias_gh_openstack_barbicanclient-distgit:rdo-packages/barbicanclient-distgit.git
        projects = openstack/barbicanclient-distgit
[remote "openstack_tripleoclient-distgit"]
        url = git@alias_gh_openstack_tripleoclient-distgit:rdo-packages/tripleoclient-distgit.git
        projects = openstack/tripleoclient-distgit
[remote "openstack_mistralclient-distgit"]
        url = git@alias_gh_openstack_mistralclient-distgit:rdo-packages/mistralclient-distgit.git
        projects = openstack/mistralclient-distgit
[remote "openstack_dracclient-distgit"]
        url = git@alias_gh_openstack_dracclient-distgit:rdo-packages/dracclient-distgit.git
        projects = openstack/dracclient-distgit
[remote "openstack_ironic-inspector-client-distgit"]
        url = git@alias_gh_openstack_ironic-inspector-client-distgit:rdo-packages/ironic-inspector-client-distgit.git
        projects = openstack/ironic-inspector-client-distgit
[remote "openstack_ceilometerclient-distgit"]
        url = git@alias_gh_openstack_ceilometerclient-distgit:rdo-packages/ceilometerclient-distgit.git
        projects = openstack/ceilometerclient-distgit
[remote "openstack_ceilometermiddleware-distgit"]
        url = git@alias_gh_openstack_ceilometermiddleware-distgit:rdo-packages/ceilometermiddleware-distgit.git
        projects = openstack/ceilometermiddleware-distgit
[remote "openstack_openstacksdk-distgit"]
        url = git@alias_gh_openstack_openstacksdk-distgit:rdo-packages/openstacksdk-distgit.git
        projects = openstack/openstacksdk-distgit
[remote "openstack_cloudkittyclient-distgit"]
        url = git@alias_gh_openstack_cloudkittyclient-distgit:rdo-packages/cloudkittyclient-distgit.git
        projects = openstack/cloudkittyclient-distgit
[remote "openstack_zaqarclient-distgit"]
        url = git@alias_gh_openstack_zaqarclient-distgit:rdo-packages/zaqarclient-distgit.git
        projects = openstack/zaqarclient-distgit
[remote "openstack_designateclient-distgit"]
        url = git@alias_gh_openstack_designateclient-distgit:rdo-packages/designateclient-distgit.git
        projects = openstack/designateclient-distgit
[remote "openstack_openstackclient-distgit"]
        url = git@alias_gh_openstack_openstackclient-distgit:rdo-packages/openstackclient-distgit.git
        projects = openstack/openstackclient-distgit
[remote "openstack_glanceclient-distgit"]
        url = git@alias_gh_openstack_glanceclient-distgit:rdo-packages/glanceclient-distgit.git
        projects = openstack/glanceclient-distgit
[remote "openstack_keystonemiddleware-distgit"]
        url = git@alias_gh_openstack_keystonemiddleware-distgit:rdo-packages/keystonemiddleware-distgit.git
        projects = openstack/keystonemiddleware-distgit
[remote "openstack_keystoneclient-distgit"]
        url = git@alias_gh_openstack_keystoneclient-distgit:rdo-packages/keystoneclient-distgit.git
        projects = openstack/keystoneclient-distgit
[remote "openstack_tripleo-image-elements-distgit"]
        url = git@alias_gh_openstack_tripleo-image-elements-distgit:rdo-packages/tripleo-image-elements-distgit.git
        projects = openstack/tripleo-image-elements-distgit
[remote "openstack_tripleo-heat-templates-distgit"]
        url = git@alias_gh_openstack_tripleo-heat-templates-distgit:rdo-packages/tripleo-heat-templates-distgit.git
        projects = openstack/tripleo-heat-templates-distgit
[remote "openstack_rally-distgit"]
        url = git@alias_gh_openstack_rally-distgit:rdo-packages/rally-distgit.git
        projects = openstack/rally-distgit
[remote "openstack_ironic-distgit"]
        url = git@alias_gh_openstack_ironic-distgit:rdo-packages/ironic-distgit.git
        projects = openstack/ironic-distgit
[remote "openstack_neutron-vpnaas-distgit"]
        url = git@alias_gh_openstack_neutron-vpnaas-distgit:rdo-packages/neutron-vpnaas-distgit.git
        projects = openstack/neutron-vpnaas-distgit
[remote "openstack_glance-distgit"]
        url = git@alias_gh_openstack_glance-distgit:rdo-packages/glance-distgit.git
        projects = openstack/glance-distgit
[remote "openstack_os-apply-config-distgit"]
        url = git@alias_gh_openstack_os-apply-config-distgit:rdo-packages/os-apply-config-distgit.git
        projects = openstack/os-apply-config-distgit
[remote "openstack_barbican-distgit"]
        url = git@alias_gh_openstack_barbican-distgit:rdo-packages/barbican-distgit.git
        projects = openstack/barbican-distgit
[remote "openstack_gnocchi-distgit"]
        url = git@alias_gh_openstack_gnocchi-distgit:rdo-packages/gnocchi-distgit.git
        projects = openstack/gnocchi-distgit
[remote "openstack_os-refresh-config-distgit"]
        url = git@alias_gh_openstack_os-refresh-config-distgit:rdo-packages/os-refresh-config-distgit.git
        projects = openstack/os-refresh-config-distgit
[remote "openstack_zaqar-distgit"]
        url = git@alias_gh_openstack_zaqar-distgit:rdo-packages/zaqar-distgit.git
        projects = openstack/zaqar-distgit
[remote "openstack_instack-distgit"]
        url = git@alias_gh_openstack_instack-distgit:rdo-packages/instack-distgit.git
        projects = openstack/instack-distgit
[remote "openstack_aodh-distgit"]
        url = git@alias_gh_openstack_aodh-distgit:rdo-packages/aodh-distgit.git
        projects = openstack/aodh-distgit
[remote "openstack_aodhclient-distgit"]
        url = git@alias_gh_openstack_aodhclient-distgit:rdo-packages/aodhclient-distgit.git
        projects = openstack/aodhclient-distgit
[remote "openstack_mistral-ui-distgit"]
        url = git@alias_gh_openstack_mistral-ui-distgit:rdo-packages/mistral-ui-distgit.git
        projects = openstack/mistral-ui-distgit
[remote "openstack_openstack-neutron-lbaas-ui-distgit"]
        url = git@alias_gh_openstack_openstack-neutron-lbaas-ui-distgit:rdo-packages/openstack-neutron-lbaas-ui-distgit.git
        projects = openstack/openstack-neutron-lbaas-ui-distgit
[remote "openstack_mistral-dashboard-distgit"]
        url = git@alias_gh_openstack_mistral-dashboard-distgit:rdo-packages/mistral-dashboard-distgit.git
        projects = openstack/mistral-dashboard-distgit
[remote "openstack_neutron-lbaas-dashboard-distgit"]
        url = git@alias_gh_openstack_neutron-lbaas-dashboard-distgit:rdo-packages/neutron-lbaas-dashboard-distgit.git
        projects = openstack/neutron-lbaas-dashboard-distgit
[remote "rdo-infra_weirdo"]
        url = git@alias_gh_rdo-infra_weirdo:rdo-infra/weirdo.git
        projects = rdo-infra/weirdo
[remote "rdo-infra_ansible-role-weirdo-common"]
        url = git@alias_gh_rdo-infra_ansible-role-weirdo-common:rdo-infra/ansible-role-weirdo-common.git
        projects = rdo-infra/ansible-role-weirdo-common
[remote "rdo-infra_ansible-role-weirdo-kolla"]
        url = git@alias_gh_rdo-infra_ansible-role-weirdo-kolla:rdo-infra/ansible-role-weirdo-kolla.git
        projects = rdo-infra/ansible-role-weirdo-kolla
[remote "rdo-infra_ansible-role-weirdo-packstack"]
        url = git@alias_gh_rdo-infra_ansible-role-weirdo-packstack:rdo-infra/ansible-role-weirdo-packstack.git
        projects = rdo-infra/ansible-role-weirdo-packstack
[remote "rdo-infra_ansible-role-weirdo-puppet-openstack"]
        url = git@alias_gh_rdo-infra_ansible-role-weirdo-puppet-openstack:rdo-infra/ansible-role-weirdo-puppet-openstack.git
        projects = rdo-infra/ansible-role-weirdo-puppet-openstack
[remote "openstack_magnum-ui-distgit"]
        url = git@alias_gh_openstack_magnum-ui-distgit:rdo-packages/magnum-ui-distgit.git
        projects = openstack/magnum-ui-distgit
[remote "openstack_app-catalog-ui-distgit"]
        url = git@alias_gh_openstack_app-catalog-ui-distgit:rdo-packages/app-catalog-ui-distgit.git
        projects = openstack/app-catalog-ui-distgit
[remote "openstack_ceilometer-distgit"]
        url = git@alias_gh_openstack_ceilometer-distgit:rdo-packages/ceilometer-distgit.git
        projects = openstack/ceilometer-distgit
[remote "openstack_cisco-ironic-contrib-distgit"]
        url = git@alias_gh_openstack_cisco-ironic-contrib-distgit:rdo-packages/cisco-ironic-contrib-distgit.git
        projects = openstack/cisco-ironic-contrib-distgit
[remote "openstack_cloudkitty-distgit"]
        url = git@alias_gh_openstack_cloudkitty-distgit:rdo-packages/cloudkitty-distgit.git
        projects = openstack/cloudkitty-distgit
[remote "openstack_congressclient-distgit"]
        url = git@alias_gh_openstack_congressclient-distgit:rdo-packages/congressclient-distgit.git
        projects = openstack/congressclient-distgit
[remote "openstack_designate-distgit"]
        url = git@alias_gh_openstack_designate-distgit:rdo-packages/designate-distgit.git
        projects = openstack/designate-distgit
[remote "openstack_dib-utils-distgit"]
        url = git@alias_gh_openstack_dib-utils-distgit:rdo-packages/dib-utils-distgit.git
        projects = openstack/dib-utils-distgit
[remote "openstack_diskimage-builder-distgit"]
        url = git@alias_gh_openstack_diskimage-builder-distgit:rdo-packages/diskimage-builder-distgit.git
        projects = openstack/diskimage-builder-distgit
[remote "openstack_glance_store-distgit"]
        url = git@alias_gh_openstack_glance_store-distgit:rdo-packages/glance_store-distgit.git
        projects = openstack/glance_store-distgit
[remote "openstack_heat-distgit"]
        url = git@alias_gh_openstack_heat-distgit:rdo-packages/heat-distgit.git
        projects = openstack/heat-distgit
[remote "openstack_heat-templates-distgit"]
        url = git@alias_gh_openstack_heat-templates-distgit:rdo-packages/heat-templates-distgit.git
        projects = openstack/heat-templates-distgit
[remote "openstack_horizon-distgit"]
        url = git@alias_gh_openstack_horizon-distgit:rdo-packages/horizon-distgit.git
        projects = openstack/horizon-distgit
[remote "openstack_instack-undercloud-distgit"]
        url = git@alias_gh_openstack_instack-undercloud-distgit:rdo-packages/instack-undercloud-distgit.git
        projects = openstack/instack-undercloud-distgit
[remote "openstack_ironic-inspector-distgit"]
        url = git@alias_gh_openstack_ironic-inspector-distgit:rdo-packages/ironic-inspector-distgit.git
        projects = openstack/ironic-inspector-distgit
[remote "openstack_ironic-python-agent-distgit"]
        url = git@alias_gh_openstack_ironic-python-agent-distgit:rdo-packages/ironic-python-agent-distgit.git
        projects = openstack/ironic-python-agent-distgit
[remote "openstack_k8sclient-distgit"]
        url = git@alias_gh_openstack_k8sclient-distgit:rdo-packages/k8sclient-distgit.git
        projects = openstack/k8sclient-distgit
[remote "openstack_keystone-distgit"]
        url = git@alias_gh_openstack_keystone-distgit:rdo-packages/keystone-distgit.git
        projects = openstack/keystone-distgit
[remote "openstack_magnum-distgit"]
        url = git@alias_gh_openstack_magnum-distgit:rdo-packages/magnum-distgit.git
        projects = openstack/magnum-distgit
[remote "openstack_manila-distgit"]
        url = git@alias_gh_openstack_manila-distgit:rdo-packages/manila-distgit.git
        projects = openstack/manila-distgit
[remote "openstack_manila-ui-distgit"]
        url = git@alias_gh_openstack_manila-ui-distgit:rdo-packages/manila-ui-distgit.git
        projects = openstack/manila-ui-distgit
[remote "openstack_microversion-parse-distgit"]
        url = git@alias_gh_openstack_microversion-parse-distgit:rdo-packages/microversion-parse-distgit.git
        projects = openstack/microversion-parse-distgit
[remote "openstack_mistral-distgit"]
        url = git@alias_gh_openstack_mistral-distgit:rdo-packages/mistral-distgit.git
        projects = openstack/mistral-distgit
[remote "openstack_muranoclient-distgit"]
        url = git@alias_gh_openstack_muranoclient-distgit:rdo-packages/muranoclient-distgit.git
        projects = openstack/muranoclient-distgit
[remote "openstack_murano-distgit"]
        url = git@alias_gh_openstack_murano-distgit:rdo-packages/murano-distgit.git
        projects = openstack/murano-distgit
[remote "openstack_networking-arista-distgit"]
        url = git@alias_gh_openstack_networking-arista-distgit:rdo-packages/networking-arista-distgit.git
        projects = openstack/networking-arista-distgit
[remote "openstack_networking-bigswitch-distgit"]
        url = git@alias_gh_openstack_networking-bigswitch-distgit:rdo-packages/networking-bigswitch-distgit.git
        projects = openstack/networking-bigswitch-distgit
[remote "openstack_networking-cisco-distgit"]
        url = git@alias_gh_openstack_networking-cisco-distgit:rdo-packages/networking-cisco-distgit.git
        projects = openstack/networking-cisco-distgit
[remote "openstack_networking-mlnx-distgit"]
        url = git@alias_gh_openstack_networking-mlnx-distgit:rdo-packages/networking-mlnx-distgit.git
        projects = openstack/networking-mlnx-distgit
[remote "openstack_networking-odl-distgit"]
        url = git@alias_gh_openstack_networking-odl-distgit:rdo-packages/networking-odl-distgit.git
        projects = openstack/networking-odl-distgit
[remote "openstack_networking-ovn-distgit"]
        url = git@alias_gh_openstack_networking-ovn-distgit:rdo-packages/networking-ovn-distgit.git
        projects = openstack/networking-ovn-distgit
[remote "openstack_neutron-fwaas-distgit"]
        url = git@alias_gh_openstack_neutron-fwaas-distgit:rdo-packages/neutron-fwaas-distgit.git
        projects = openstack/neutron-fwaas-distgit
[remote "openstack_neutron-lbaas-distgit"]
        url = git@alias_gh_openstack_neutron-lbaas-distgit:rdo-packages/neutron-lbaas-distgit.git
        projects = openstack/neutron-lbaas-distgit
[remote "openstack_nova-distgit"]
        url = git@alias_gh_openstack_nova-distgit:rdo-packages/nova-distgit.git
        projects = openstack/nova-distgit
[remote "openstack_octavia-distgit"]
        url = git@alias_gh_openstack_octavia-distgit:rdo-packages/octavia-distgit.git
        projects = openstack/octavia-distgit
[remote "openstack_openstack-puppet-modules-distgit"]
        url = git@alias_gh_openstack_openstack-puppet-modules-distgit:rdo-packages/openstack-puppet-modules-distgit.git
        projects = openstack/openstack-puppet-modules-distgit
[remote "openstack_os-cloud-config-distgit"]
        url = git@alias_gh_openstack_os-cloud-config-distgit:rdo-packages/os-cloud-config-distgit.git
        projects = openstack/os-cloud-config-distgit
[remote "openstack_os-collect-config-distgit"]
        url = git@alias_gh_openstack_os-collect-config-distgit:rdo-packages/os-collect-config-distgit.git
        projects = openstack/os-collect-config-distgit
[remote "openstack_oslo-privsep-distgit"]
        url = git@alias_gh_openstack_oslo-privsep-distgit:rdo-packages/oslo-privsep-distgit.git
        projects = openstack/oslo-privsep-distgit
[remote "openstack_os-net-config-distgit"]
        url = git@alias_gh_openstack_os-net-config-distgit:rdo-packages/os-net-config-distgit.git
        projects = openstack/os-net-config-distgit
[remote "openstack_osprofiler-distgit"]
        url = git@alias_gh_openstack_osprofiler-distgit:rdo-packages/osprofiler-distgit.git
        projects = openstack/osprofiler-distgit
[remote "openstack_packstack-distgit"]
        url = git@alias_gh_openstack_packstack-distgit:rdo-packages/packstack-distgit.git
        projects = openstack/packstack-distgit
[remote "openstack_sahara-dashboard-distgit"]
        url = git@alias_gh_openstack_sahara-dashboard-distgit:rdo-packages/sahara-dashboard-distgit.git
        projects = openstack/sahara-dashboard-distgit
[remote "openstack_tempest-distgit"]
        url = git@alias_gh_openstack_tempest-distgit:rdo-packages/tempest-distgit.git
        projects = openstack/tempest-distgit
[remote "openstack_tripleo-common-distgit"]
        url = git@alias_gh_openstack_tripleo-common-distgit:rdo-packages/tripleo-common-distgit.git
        projects = openstack/tripleo-common-distgit
[remote "openstack_tripleo-incubator-distgit"]
        url = git@alias_gh_openstack_tripleo-incubator-distgit:rdo-packages/tripleo-incubator-distgit.git
        projects = openstack/tripleo-incubator-distgit
[remote "openstack_tripleo-puppet-elements-distgit"]
        url = git@alias_gh_openstack_tripleo-puppet-elements-distgit:rdo-packages/tripleo-puppet-elements-distgit.git
        projects = openstack/tripleo-puppet-elements-distgit
[remote "openstack_trove-dashboard-distgit"]
        url = git@alias_gh_openstack_trove-dashboard-distgit:rdo-packages/trove-dashboard-distgit.git
        projects = openstack/trove-dashboard-distgit
[remote "openstack_trove-distgit"]
        url = git@alias_gh_openstack_trove-distgit:rdo-packages/trove-distgit.git
        projects = openstack/trove-distgit
[remote "openstack_vmware-nsx-distgit"]
        url = git@alias_gh_openstack_vmware-nsx-distgit:rdo-packages/vmware-nsx-distgit.git
        projects = openstack/vmware-nsx-distgit
[remote "openstack_designate-tempest-plugin-distgit"]
        url = git@alias_gh_openstack_designate-tempest-plugin-distgit:rdo-packages/designate-tempest-plugin-distgit.git
        projects = openstack/designate-tempest-plugin-distgit
[remote "openstack_wsme-distgit"]
        url = git@alias_gh_openstack_wsme-distgit:rdo-packages/wsme-distgit.git
        projects = openstack/wsme-distgit
[remote "openstack_osc-lib-distgit"]
        url = git@alias_gh_openstack_osc-lib-distgit:rdo-packages/osc-lib-distgit.git
        projects = openstack/osc-lib-distgit
[remote "openstack_cloudkitty-dashboard-distgit"]
        url = git@alias_gh_openstack_cloudkitty-dashboard-distgit:rdo-packages/cloudkitty-dashboard-distgit.git
        projects = openstack/cloudkitty-dashboard-distgit
[remote "openstack_watcher-distgit"]
        url = git@alias_gh_openstack_watcher-distgit:rdo-packages/watcher-distgit.git
        projects = openstack/watcher-distgit
[remote "openstack_swift3-distgit"]
        url = git@alias_gh_openstack_swift3-distgit:rdo-packages/swift3-distgit.git
        projects = openstack/swift3-distgit
[remote "rdo-infra_puppet-dlrn"]
        url = git@alias_gh_rdo-infra_puppet-dlrn:rdo-infra/puppet-dlrn.git
        projects = rdo-infra/puppet-dlrn
[remote "openstack_sahara-image-elements-distgit"]
        url = git@alias_gh_openstack_sahara-image-elements-distgit:rdo-packages/sahara-image-elements-distgit.git
        projects = openstack/sahara-image-elements-distgit


[remote "rdo-packages-replica"]
        url = git@github.com:rdo-packages/${name}.git
        remoteNameStyle = basenameOnly
        projects = openstack/ec2-api-distgit
        projects = openstack/sahara-distgit
