- hosts: all
  tasks:
    - name: Create SSH private key tempfile
      tempfile:
        state: file
      register: ssh_private_key_tmp

    - name: Create SSH private key from secret
      copy:
        content: "{{ rdobuilder_ssh_key.ssh_private_key }}\n"
        dest: "{{ ssh_private_key_tmp.path }}"
        mode: 0600

    - name: Add site_install_server server to known hosts
      known_hosts:
        name: 'gitlab.com'
        key: "{{ rdobuilder_ssh_key.ssh_known_hosts }}"

    - name: run dep-export.sh
      shell:
        cmd: |
          eval "$(ssh-agent)"
          ssh-add {{ ssh_private_key_tmp.path }}
          shred {{ ssh_private_key_tmp.path }}
          export WORKSPACE="/tmp/scratch_dir"
          ./dep-export.sh "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}"
        chdir: "{{ zuul.projects['review.rdoproject.org/gating_scripts'].src_dir }}"
      environment:
        ZUUL3_HOME: "{{ ansible_env.HOME }}"
        ZUUL_REF: "{{ zuul.ref }}"
        ZUUL_PROJECT: "{{ zuul.project.name }}"
        ZUUL_BRANCH: "{{ zuul.branch }}"
        ZUUL_PIPELINE: "{{ zuul.pipeline }}"
        ZUUL_CHANGES: "{% set comma = joiner('^') %} {% for chg in zuul['items'] %}{{ comma() }}{{ chg.project.name }}:{{ chg.branch }}:{{ chg.change_url }}{% endfor %}"  # noqa 204
        LANG: 'en_US.UTF-8'
      changed_when: true
