- hosts: all
  name: rdo-deps-uc-send-review playbook
  tasks:
    - name: rdo-deps-uc-send-review
      shell:
        cmd: |
          set +e -x
          virtualenv --system-site-packages .venv
          . .venv/bin/activate
          pip install pymod2pkg sh git-review ruamel.yaml rdopkg
          # Install releng, needed for add-buildsys-tags.py script
          pushd {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdo-infra/releng'].src_dir }}
          pip install .
          popd

          BRANCH="{{ zuul.branch }}"
          if [ "$BRANCH" == 'master' ]; then
              RELEASE="xena"
          else
              RELEASE="${BRANCH/stable\//}"
          fi
          export PHASE="candidate"
          pushd {{ ansible_user_dir }}/{{ zuul.project.src_dir }}
          SUBJECT=$(git log --oneline {{ zuul.newrev }}|head -1|cut -d " " -f 2)
          if [ $SUBJECT == "Merge" ]; then
             REAL_COMMIT=$(git show {{ zuul.newrev }}|grep ^Merge:|awk '{print $(NF)}')
          else
             REAL_COMMIT={{ zuul.newrev }}
          fi
          UPSTREAM_CHANGE_ID=$(git show $REAL_COMMIT|grep Change-Id:|awk '{print $(NF)}')
          change_list=($(git show $REAL_COMMIT upper-constraints.txt|grep -P '^\+(?:(?!\+\+))|^-(?:(?!--))'))
          change_list=${change_list[@]/#[+-]/}
          popd
          if [ -z "${change_list//[[:space:]]/}" ]; then
              echo "INFO: No update in upper-constraints, Exiting"
              exit 0
          fi
          GATING_SCRIPTS_BASE="{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/gating_scripts'].src_dir }}"
          C7_RELEASES="queens rocky stein train"
          if [ $(echo $C7_RELEASES|grep -c -w $RELEASE) -ne 0 ]; then
              CENTOS_V=7
          fi
          # if not defaults to 8
          CENTOS_V=${CENTOS_V:-8s}
          pushd {{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdoinfo'].src_dir }}
          python ${GATING_SCRIPTS_BASE}/buildsys-tags/add-buildsys-tags.py \
              -l $change_list \
              -r $RELEASE \
              --centos-release $CENTOS_V \
              -p $PHASE
          DIFF=$(git diff *.yml */*.yml)
          if [ -n "$DIFF" ]; then
            mkdir -p ~/.ssh
            cat >> ~/.ssh/config << EOF

          Host review.rdoproject.org
            IdentityFile ~/.ssh/rdoinfo_id_rsa
          EOF
            chmod 600 ~/.ssh/config
            sudo chmod 600 $SSH_KEY
            sudo chown jenkins:jenkins $SSH_KEY
            ssh-keyscan -p 29418 review.rdoproject.org >> ~/.ssh/known_hosts
            chmod 644 ~/.ssh/known_hosts
            COMMIT_MSG="CBS tags sync with uc for $RELEASE-$PHASE\n\nUpstream-Id: $UPSTREAM_CHANGE_ID"
            git config user.name "rdo-trunk"
            git config user.email "javier.pena@redhat.com"
            git config gitreview.username "rdo-trunk"
            git checkout -b proposal
            git review -s -v
            echo -e $COMMIT_MSG | git commit -F- *.yml */*.yml
            # Just in case, check if there are changes between this version and the current review
            DIFF_RDO=0
            if [ -n "$CHANGE_ID" ]; then
                for i in $(ls *yml */*yml 2>/dev/null); do
                    curl https://review.rdoproject.org/r/changes/rdoinfo~master~$CHANGE_ID/revisions/current/files/${i/\//%2F}/content |base64 -d > $i.current
                    diff $i $i.current
                    if [ $? -ne 0 ]; then
                        DIFF_RDO=1
                        break
                    fi
                done
            fi
            if [[ ! -n "$CHANGE_ID" ]] || [[ $DIFF_RDO -ne 0 ]]; then
                git review -t "rdoinfo-deps-uc-update-$RELEASE" < /dev/null
            fi
            popd
          fi
      changed_when: true
