clouds:
  ovb-test:
    identity_api_version: {{ cloud_secrets.ovb_test.identity_api_version }}
    region_name: {{ cloud_secrets.ovb_test.region_name }}
    auth:
      username: {{ cloud_secrets.ovb_test.username }}
      password: {{ cloud_secrets.ovb_test.password }}
      project_name: {{ cloud_secrets.ovb_test.project_name }}
      project_id: {{ cloud_secrets.ovb_test.project_id }}
      auth_url: {{ cloud_secrets.ovb_test.auth_url }}
      user_domain_name: {{ cloud_secrets.ovb_test.user_domain_name }}
      project_domain_name: {{ cloud_secrets.ovb_test.project_domain_name }}
