- hosts: primary
  vars:
    rdo_registry_user: "{{ lookup('env', 'REGISTRY_USERNAME') | default('unused', true) }}"
    rdo_registry_email: "{{ lookup('env', 'REGISTRY_EMAIL') | default(omit, true) }}"
    rdo_registry_url: "{{ lookup('env', 'REGISTRY_URL') | default('trunk.registry.rdoproject.org', true) }}"

  tasks:
    - name: Install python-docker and Loging to RDO registry
      when: ansible_distribution|lower != 'redhat'
      block:
        - name: Install python docker
          become: true
          package:
            name: python-docker

        - name: Login to RDO registry
          become: "{{ item }}"
          docker_login:
            registry_url: "{{ rdo_registry_url }}"
            username: "{{ rdo_registry_user }}"
            password: "{{ rdo_registry.token }}"
            email: "{{ rdo_registry_email | default(omit, true) }}"
            reauthorize: true
          when: push_containers|default(true)|bool
          with_items:
            - true
            - false
