- hosts: primary
  vars:
    rdo_registry_user: "{{ lookup('env', 'REGISTRY_USERNAME') | default('unused', true) }}"
    rdo_registry_email: "{{ lookup('env', 'REGISTRY_EMAIL') | default(omit, true) }}"
    rdo_registry_url: "{{ lookup('env', 'REGISTRY_URL') | default('trunk.registry.rdoproject.org', true) }}"

  tasks:
    - name: Container Logging to RDO registry for CentOS 7 and Fedora 28
      when:
        - ansible_distribution|lower != 'redhat'
        - push_containers|default(true)|bool
      block:
        - name: Ensure docker is installed
          become: true
          package:
            name: docker
            state: present

        - name: Login to RDO registry
          become: "{{ item }}"
          shell:
            cmd: |
              docker login --password "{{ rdo_registry.token }}" \
                           --username "{{ rdo_registry_user }}" \
                           "{{ rdo_registry_url }}"
          with_items:
            - true
            - false
