- hosts: primary:tripleo-ovb-centos-7
  vars:
    workspace: "{{ ansible_user_dir }}/workspace"
    ci_config_repo: "{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/rdo-infra/ci-config'].src_dir }}"
  tasks:
    - name: Set zuul-log-path fact
      include_role:
        name: set-zuul-log-path-fact
    - shell:
        cmd: |
          source {{ workspace }}/hash_info.sh
          {% if nodes is defined %}
          export TOCI_JOBTYPE="periodic-{{ environment_type }}-{{ nodes }}-featureset{{ featureset }}"
          {% else %}
          export TOCI_JOBTYPE="periodic-{{ environment_type }}-featureset{{ featureset }}"
          {% endif %}
          export LOG_PATH="{{ zuul_log_path }}"
          export SUCCESS="{{ zuul_success | bool }}"
          bash -xe {{ ci_config_repo }}/ci-scripts/tripleo-upstream/dlrnapi_report.sh
        chdir: '{{ workspace }}'
      environment: "{{ zuul | zuul_legacy_vars | combine({'DLRNAPI_PASSWORD': dlrnapi.password}) }}"
