- hosts: primary:tripleo-ovb-centos-7
  vars:
    workspace: "{{ ansible_user_dir }}/workspace"
    ci_config_repo: "{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/config'].src_dir }}"
    dlrnapi_user: review_rdoproject_org
  tasks:
    - name: Set zuul-log-path fact
      include_role:
        name: set-zuul-log-path-fact

    # TODO(rfolco): find a better way of checking the hash used in delorean.repo
    # note that the filename is hardcoded and might change in tripleo-repos
    - name: Check if delorean.repo exists
      stat:
        path: /etc/yum.repos.d/delorean.repo
      register: delorean_repo_file

    - name: Re-populate hash_info w/ actual hash used
      shell:
        cmd: |
          export WORKSPACE="{{ workspace }}"
          export RELEASE="{{ release }}"
          # e.g. 11/c9/11c9839df8d9b5abb46f2c7bee2c8db975f77867_2932899d
          export PROMOTE_NAME=$(grep -o -E '[0-9a-f]{2}/[0-9a-f]{2}/[0-9a-f]{40}_[0-9a-f]{8}' < /etc/yum.repos.d/delorean.repo) || :
          export DLRNAPI_DISTRO="{{ ansible_distribution }}"
          export DLRNAPI_DISTRO_VERSION="{{ ansible_distribution_major_version }}"
          bash -xe {{ ci_config_repo }}/ci-scripts/tripleo-upstream/get-hash.sh
      args:
        chdir: '{{ workspace }}'
      environment: "{{ zuul | zuul_legacy_vars }}"
      changed_when: true
      when: delorean_repo_file.stat.exists

    - name: Report to DLRN
      shell:
        cmd: |
          source {{ workspace }}/hash_info.sh
          export LOG_PATH="{{ zuul_log_path }}"
          export LOG_HOST_URL="{{ log_host_url | default('https://logs.rdoproject.org') }}"
          export SUCCESS="{{ zuul_success | bool }}"
          export TOCI_JOBTYPE="{{ zuul.job }}"
          bash -xe {{ ci_config_repo }}/ci-scripts/tripleo-upstream/dlrnapi_report.sh
        chdir: '{{ workspace }}'
      environment: "{{ zuul | zuul_legacy_vars | combine({'DLRNAPI_PASSWORD': dlrnapi.password,'DLRNAPI_USERNAME': dlrnapi_user}) }}"
      changed_when: true
      when: report_dlrn|default(true)|bool

    - name: Temporary task to report to centos api endpoint in mixed distribution jobs
      shell:
        cmd: |
          cp {{ workspace }}/hash_info_centos.sh {{ workspace }}/hash_info.sh
          source {{ workspace }}/hash_info.sh
          {% if nodes is defined %}
          export TOCI_JOBTYPE="periodic-{{ environment_type }}-{{ nodes }}-featureset{{ featureset }}"
          {% else %}
          export TOCI_JOBTYPE="periodic-{{ environment_type }}-featureset{{ featureset }}"
          {% endif %}
          export LOG_PATH="{{ zuul_log_path }}"
          export LOG_HOST_URL="{{ log_host_url | default('https://logs.rdoproject.org') }}"
          export SUCCESS="{{ zuul_success | bool }}"
          bash -xe {{ ci_config_repo }}/ci-scripts/tripleo-upstream/dlrnapi_report.sh
          # Pass also the new naming scheme as JOBTYPE to report to DLRN
          # In this way each job will report success/failure with the new name
          # and the old name, and we can use one or the other in the promotion
          # criteria
          export TOCI_JOBTYPE="{{ zuul.job }}"
          bash -xe {{ ci_config_repo }}/ci-scripts/tripleo-upstream/dlrnapi_report.sh
          cp {{ workspace }}/hash_info_fedora.sh {{ workspace }}/hash_info.sh
        chdir: '{{ workspace }}'
      environment: "{{ zuul | zuul_legacy_vars | combine({'DLRNAPI_PASSWORD': dlrnapi.password,'DLRNAPI_USERNAME': dlrnapi_user}) }}"
      when:
        - report_dlrn|default(true)|bool
        - fedora_centos_mixed_distribution_job|default(false)
