- hosts: primary:tripleo-ovb-centos-7
  vars:
    workspace: "{{ ansible_user_dir }}/workspace"
    ci_config_repo: "{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/config'].src_dir }}"
    dlrnapi_user: review_rdoproject_org
  tasks:
    - name: Set zuul-log-path fact
      include_role:
        name: set-zuul-log-path-fact
    - name: Report to DLRN
      shell:
        cmd: |
          source {{ workspace }}/hash_info.sh
          export LOG_PATH="{{ zuul_log_path }}"
          export LOG_HOST_URL="{{ log_host_url | default('https://logserver.rdoproject.org') }}"
          export SUCCESS="{{ zuul_success | bool }}"
          export TOCI_JOBTYPE="{{ zuul.job }}"
          export SSL_VERIFY=0
          bash -xe {{ ci_config_repo }}/ci-scripts/tripleo-upstream/dlrnapi_report.sh
        chdir: '{{ workspace }}'
      environment: "{{ zuul | zuul_legacy_vars | combine({'DLRNAPI_PASSWORD': dlrnapi.password,'DLRNAPI_USERNAME': dlrnapi_user}) }}"
      changed_when: true
      when: report_dlrn|default(true)|bool

    - name: Temporary task to report to centos api endpoint in mixed distribution jobs
      shell:
        cmd: |
          cp {{ workspace }}/hash_info_centos.sh {{ workspace }}/hash_info.sh
          source {{ workspace }}/hash_info.sh
          {% if nodes is defined %}
          export TOCI_JOBTYPE="periodic-{{ environment_type }}-{{ nodes }}-featureset{{ featureset }}"
          {% else %}
          export TOCI_JOBTYPE="periodic-{{ environment_type }}-featureset{{ featureset }}"
          {% endif %}
          export SSL_VERIFY=0
          export LOG_PATH="{{ zuul_log_path }}"
          export LOG_HOST_URL="{{ log_host_url | default('https://logserver.rdoproject.org') }}"
          export SUCCESS="{{ zuul_success | bool }}"
          bash -xe {{ ci_config_repo }}/ci-scripts/tripleo-upstream/dlrnapi_report.sh
          # Pass also the new naming scheme as JOBTYPE to report to DLRN
          # In this way each job will report success/failure with the new name
          # and the old name, and we can use one or the other in the promotion
          # criteria
          export TOCI_JOBTYPE="{{ zuul.job }}"
          bash -xe {{ ci_config_repo }}/ci-scripts/tripleo-upstream/dlrnapi_report.sh
          cp {{ workspace }}/hash_info_fedora.sh {{ workspace }}/hash_info.sh
        chdir: '{{ workspace }}'
      environment: "{{ zuul | zuul_legacy_vars | combine({'DLRNAPI_PASSWORD': dlrnapi.password,'DLRNAPI_USERNAME': dlrnapi_user}) }}"
      when:
        - report_dlrn|default(true)|bool
        - fedora_centos_mixed_distribution_job|default(false)
