---
- name: Promote current-podified hash
  hosts: all
  tasks:
    # FIXME(dpawlik): Don't ask me, why someone choose the ci-framework
    # instead of ci-framework-data. Something to fix in the future.
    - name: Set vars necessary for other roles
      ansible.builtin.set_fact:
        cifmw_basedir: "{{ ansible_user_dir }}/ci-framework"

    - name: Clone repos in the job workspace
      ansible.builtin.include_role:
        name: prepare-workspace

    - name: Promote current-podified hash based on criteria file
      ansible.builtin.include_role:
        name: dlrn_promote
