---
- name: Promote current-podified hash
  hosts: all
  vars_files:
    - "{{ ansible_user_dir }}/src/github.com/openstack-k8s-operators/ci-framework/group_vars/all.yml"
  tasks:
    - name: Clone repos in the job workspace
      ansible.builtin.include_role:
        name: prepare-workspace

    - name: Promote current-podified hash based on criteria file
      ansible.builtin.include_role:
        name: dlrn_promote
