---
- name: Copy environment files from OVB repo
  command: cp "{{ item.0 }}" "{{ item.1 }}"
  loop:
    - - "{{ ovb_repo_directory }}/environments/base.yaml"
      - "{{ ovb_working_dir }}/env-{{ idnum }}-base.yaml"
    - - "{{ ovb_repo_directory }}/environments/base-role.yaml"
      - "{{ ovb_working_dir }}/env-{{ idnum }}-compute.yaml"
    - - "{{ ovb_repo_directory }}/environments/base-extra-node.yaml"
      - "{{ ovb_working_dir }}/env-{{ idnum }}-extra.yaml"
  changed_when: true

- name: Customize the base template
  replace:
    path: "{{ ovb_working_dir }}/env-{{ idnum }}-base.yaml"
    regexp: "{{ item.0 }}"
    replace: "{{ item.1 }}"
  loop:
    - - 'provision_net: .*'
      - 'provision_net: ctlplane'
    - - 'baremetal_image:.*'
      - 'baremetal_image: {{ baremetal_image_name|default("ipxe-boot") }}'
    - - 'bmc_image:.*'
      - 'bmc_image: {{ bmc_template_name|default("bmc-template") }}'
    - - 'key_name:.*'
      - 'key_name: {{ key_name }}'
    - - 'node_count:.*'
      - 'node_count: {{ node_count }}'
    - - 'public_net_allocation_pools:.*'
      - 'public_net_allocation_pools: {{ public_net_allocation_pools }}'

- name: Customize the base template for known clouds
  replace:
    path: "{{ ovb_working_dir }}/env-{{ idnum }}-base.yaml"
    regexp: "{{ item.0 }}"
    replace: "{{ item.1 }}"
  loop:
    - - 'provision_net_shared:.*'
      - 'provision_net_shared: false'
    - - 'public_net_shared:.*'
      - 'public_net_shared: false'
    - - 'bmc_flavor:.*'
      - "bmc_flavor: {{ cloud_settings[cloud_name]['bmc_flavor'] }}"
    - - 'baremetal_flavor:.*'
      - "baremetal_flavor: {{ cloud_settings[cloud_name]['baremetal_flavor'] }}"
    - - 'undercloud_flavor:.*'
      - "undercloud_flavor: {{ cloud_settings[cloud_name]['undercloud_flavor'] }}"
    - - 'undercloud_image:.*'
      - "undercloud_image: {{ cloud_settings[cloud_name]['baremetal_image'] }}"
    - - 'external_net:.*'
      - "external_net: {{ cloud_settings[cloud_name]['external_net']|default('external') }}"
  when:
    - cloud_name is defined
    - cloud_name in cloud_settings

- block:
    - name: Customize the extra node template
      replace:
        path: "{{ ovb_working_dir }}/env-{{ idnum }}-extra.yaml"
        regexp: "{{ item.0 }}"
        replace: "{{ item.1 }}"
      loop:
        - - 'key_name:.*'
          - 'key_name: {{ extra_node_key_name }}-{{ idnum }}'
        - - 'node_count:.*'
          - 'node_count: {{ extra_node }}'
        - - '../templates/baremetal-ports-extra-node-port-security.yaml'
          - 'templates/baremetal-ports-extra-node-port-security-all.yaml'

    - name: Customize the extra template for known clouds
      replace:
        path: "{{ ovb_working_dir }}/env-{{ idnum }}-extra.yaml"
        regexp: "{{ item.0 }}"
        replace: "{{ item.1 }}"
      loop:
        - - 'baremetal_flavor:.*'
          - "baremetal_flavor: {{ cloud_settings[cloud_name]['extra_node_flavor'] }}"
        - - 'baremetal_image:.*'
          - "baremetal_image: {{ cloud_settings[cloud_name]['baremetal_image'] }}"
      when:
        - cloud_name is defined
        - cloud_name in cloud_settings

    - name: Set extra node args
      set_fact:
        role_args: '--role {{ ovb_working_dir }}/env-{{ idnum }}-extra.yaml'

  when: extra_node|bool

- when: ipv6|bool
  block:
    - name: Write IPv6 environment file
      copy:
        dest: "{{ ovb_working_dir }}/env-{{ idnum }}-ipv6.yaml"
        content: |
          # net_cidrs matching tripleo-heat-templates/network_data.yaml
          parameter_defaults:
            radvd_flavor: {{ cloud_settings[cloud_name]['radvd_flavor'] }}
            radvd_image: {{ cloud_settings[cloud_name]['radvd_image'] }}
            provision_net_ip_version: 6
            provision_net_cidr: fd00:fd00:fd00:1000::/64
            radvd_provision_address: fd00:fd00:fd00:1000::fffe
            IPv6_dhcpv6-statefull: false
            {% if net_iso in ['multi-nic', 'public-bond'] -%}
            public_net_ip_version: 6
            overcloud_internal_net_ip_version: 6
            overcloud_storage_net_ip_version: 6
            overcloud_storage_mgmt_net_ip_version: 6
            overcloud_tenant_net_ip_version: 6
            public_net_cidr: 2001:db8:fd00:1000::/64
            public_net_allocation_pools: [{"start": "2001:db8:fd00:1000:0000:0000:0000:0001", "end": "2001:db8:fd00:1000:0000:0000:0000:0099"}]
            overcloud_internal_net_cidr: fd00:fd00:fd00:2000::/64
            overcloud_storage_net_cidr: fd00:fd00:fd00:3000::/64
            overcloud_storage_mgmt_net_cidr: fd00:fd00:fd00:4000::/64
            overcloud_tenant_net_cidr: fd00:fd00:fd00:5000::/64
            {%- endif -%}
    - name: Set IPv6 arguments
      set_fact:
        ipv6_args: -e {{ ovb_working_dir }}/env-{{ idnum }}-ipv6.yaml -e {{ ovb_repo_directory }}/environments/ipv6-radvd.yaml

- name: Set network isolation
  set_fact:
    net_args: >-
      {%- if net_iso == 'multi-nic' -%} -e {{ ovb_repo_directory }}/environments/all-networks-port-security.yaml
      {%- elif net_iso == 'public-bond' -%} -e {{ ovb_repo_directory }}/environments/all-networks-public-bond-port-security.yaml
      {%- else -%} -e {{ ovb_repo_directory }}/environments/port-security.yaml
      {%- endif -%}

- name: Set arguments for OVB stack
  set_fact:
    ovb_args: >-
      --name {{ stack_name }} --quintupleo --id {{ idnum }}
      {{ env_args }} {{ undercloud_args }} {{ net_args }}  {{ ipv6_args }}  {{ role_args }}

- name: Print ovb args
  debug:
    msg:
      "OVB args:'{{ ovb_args }}'"
