---
- name: Check if binary is in virtualenv
  stat:
    path: "{{ ovb_working_dir }}/.venv/bin/openstack"
  register: client_path

- when: not client_path.stat.exists|bool
  block:

    - name: Install epel
      when: install_epel
      package:
        name: epel-release
      become: true
      register: epel_install
      until: epel_install is success
      retries: 3
      delay: 30

    - name: Install packages
      package:
        name: "{{ packages }}"

    - name: Install openstack clients in venv
      environment: "{{ passenv }}"
      pip:
        name: "{{ pip_packages }}"
        virtualenv: "{{ ovb_working_dir }}/.venv"
      register: python_pkgs
      until: python_pkgs is success
      retries: 3
      delay: 30

    - name: Remove epel if changed
      when: epel_install is changed
      become: true
      block:

        - name: Remove epel-release
          package:
            name: epel-release
            state: absent

        - name: Clean up
          command: |
            rm -rf /etc/yum.repos.d/*rpmsave
            {{ ansible_pkg_mgr }} clean all
          args:
            warn: False
