---
- name: gather facts
  when: ansible_python is not defined
  setup:
    gather_subset: python

- name: Include OS specific variables
  include_vars: "{{ item }}"
  failed_when: false
  loop:
      - "family-{{ ansible_os_family | lower }}.yml"
      - "family-{{ ansible_os_family | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
      - "{{ ansible_distribution | lower }}.yml"
      - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
      - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version.split('.')[0:2] | join('-') | lower }}.yml"
      - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version.split('.')[0:3] | join('-') | lower }}.yml"

- name: Ensure local working dir exists
  file:
    path: "{{ ovb_working_dir }}"
    state: directory

- name: Ensure logs dir exists
  file:
    path: "{{ logs_dir }}"
    state: directory

- name: Clone Openstack Virtual Baremetal repo if it does not exist
  git:
    repo: "{{ ovb_repo_url }}"
    dest: "{{ ovb_repo_directory }}"
    version: "{{ ovb_repo_version }}"
  when: ovb_clone|bool

- name: Link Openstack Virtual Baremetal repo from directory
  file:
    src: "{{ ovb_repo_source_dir }}"
    dest: "{{ ovb_repo_directory }}"
    state: link
  when: not ovb_clone|bool and ovb_repo_source_dir

- name: Load vars for IBM cloud
  include_vars:
    file: vars/ibm_cloud.yml
  when: cloud_name in ["ibm-bm2-nodepool", "ibm-bm3-nodepool"]

- name: Install openstack client
  include: install_openstack_deps.yml

- name: Create OVB stack
  include: ovb-create-stack.yml
  when: ovb_manage_stack_mode == 'create'

- name: Delete OVB stack
  include: ovb-delete-stack.yml
  when: ovb_manage_stack_mode == 'delete'
