---
- name: Generate idnum for all run-related entities
  set_fact:
    idnum: >-
      {% if 'change' in zuul|default({}) and 'patchset' in zuul|default({}) -%}
      {{ zuul.change }}_{{ zuul.patchset }}_{% endif %}{{ tmp.idnum }}

- name: Dump idnum for later stack deletion
  copy:
    content: "{{ idnum }}"
    dest: "{{ ovb_working_dir }}/idnum"

- name: Generate OVB parameters template
  include: generate_template.yml

- name: Find out undercloud host ID
  include: find_undercloud_uuid.yml
  when: attach_to_ovb_networks|bool

- name: Generate clouds.yaml file
  include_tasks: ovb-clouds-config.yml
  when: create_clouds_yaml|bool

- name: Install heat stack
  # notest tells molecule to skip during functional testing
  tags: notest
  block:

    - name: Create a key in case of extranode
      shell: |
        ssh-keygen -N "" -f ~/extranode-id_rsa;
        {{ ovb_working_dir }}/.venv/bin/openstack keypair create --public-key ~/extranode-id_rsa.pub {{ extra_node_key_name }}-{{ idnum }};
      when:
       - extra_node|bool
       - extra_node_create_key|bool

    - name: Create a stack
      command: |
        {{ ovb_working_dir }}/.venv/bin/python {{ ovb_repo_directory }}/bin/deploy.py {{ ovb_args }}
      args:
        chdir: "{{ ovb_repo_directory }}"

    - name: Wait until stack is created or failed
      command: >-
        {{ ovb_working_dir }}/.venv/bin/openstack stack show {{ stack_name }} -f yaml
      register: result
      until: ("COMPLETE" in result.stdout) or ("FAILED" in result.stdout) or result.rc != 0
      retries: 18
      delay: 100
      changed_when: false

    - name: Dump stderr in case of command failure
      debug:
        msg: "{{ result.stderr }}"
      when: result.rc != 0

    - name: Dump failed stack
      shell: |
        {{ ovb_working_dir }}/.venv/bin/openstack stack show {{ stack_name }} 2>&1 | tee {{ failed_log }}
        {{ ovb_working_dir }}/.venv/bin/openstack stack failures list --long {{ stack_name }} >> {{ failed_log }} 2>&1
      when: '"FAILED" in result.stdout'

    - name: Find out all servers
      command: "{{ ovb_working_dir }}/.venv/bin/openstack server list -f value -c Name --name {{ idnum }}"
      register: servers
      when: '"CREATE_FAILED" in result.stdout'

    - name: Dump console log of servers, removing stack id
      shell: "{{ ovb_working_dir }}/.venv/bin/openstack console log show {{ item }} > {{ logs_dir }}/{{ item|regex_replace('-[0-9]*','') }}-console.log"
      loop: "{{ servers.stdout_lines }}"
      failed_when: false
      environment:
        PYTHONIOENCODING: 'utf-8'
      when: '"CREATE_FAILED" in result.stdout'

    - name: Show stack status
      command: >-
        {{ ovb_working_dir }}/.venv/bin/openstack stack show {{ stack_name }} -f yaml

    - name: Fail if stack did not deploy successfully
      fail:
        msg: "Stack {{ stack_name }} did not deploy successfully. See the stack status message above."
      when: '"CREATE_COMPLETE" not in result.stdout'

    - name: Return floating ip outputs
      command: >
        {{ ovb_working_dir }}/.venv/bin/openstack stack show {{ stack_name }} -f json -c outputs
      register: stack_outputs

    - name: Find ID of provision network
      command: "{{ ovb_working_dir }}/.venv/bin/openstack network show ctlplane-{{ idnum }} -f value -c id"
      register: provision_id

    - name: Find ID of public network
      command: "{{ ovb_working_dir }}/.venv/bin/openstack network show public-{{ idnum }} -f value -c id"
      register: public_id
      when: net_iso and net_iso != 'none'

    - name: Attach instance to provision OVB network
      command: "{{ ovb_working_dir }}/.venv/bin/openstack server add network {{ undercloud_uuid }} {{ provision_id.stdout }}"
      when: attach_to_ovb_networks|bool

    - name: Attach instance to public OVB network
      command: "{{ ovb_working_dir }}/.venv/bin/openstack server add network {{ undercloud_uuid }} {{ public_id.stdout }}"
      when: net_iso and net_iso != 'none' and attach_to_ovb_networks|bool

    - name: Attach private network to undercloud
      when:
        - create_private_network|bool
        - attach_to_ovb_networks|bool
      block:
        - name: Find ID of private network
          command: "{{ ovb_working_dir }}/.venv/bin/openstack network show private-{{ idnum }} -f value -c id"
          register: private_id

        - name: Attach instance to private OVB network
          command: "{{ ovb_working_dir }}/.venv/bin/openstack server add network {{ undercloud_uuid }} {{ private_id.stdout }}"

        - name: Find ports in private network
          command: "{{ ovb_working_dir }}/.venv/bin/openstack port list --network {{ private_id.stdout }} --server {{ undercloud_uuid }} -f value -c ID"
          register: private_port

        - name: Disable security in private ports
          command: "{{ ovb_working_dir }}/.venv/bin/openstack port set {{ private_port.stdout }} --no-security-group --disable-port-security"

    - name: Find ports in provision network
      command: "{{ ovb_working_dir }}/.venv/bin/openstack port list --network {{ provision_id.stdout }} --server {{ undercloud_uuid }} -f value -c ID"
      register: provision_port
      when: attach_to_ovb_networks|bool

    - name: Find ports in public network
      command: "{{ ovb_working_dir }}/.venv/bin/openstack port list --network {{ public_id.stdout }} --server {{ undercloud_uuid }} -f value -c ID"
      register: public_port
      when: net_iso and net_iso != 'none' and attach_to_ovb_networks|bool

    - name: Disable security in provision ports
      command: "{{ ovb_working_dir }}/.venv/bin/openstack port set {{ provision_port.stdout }} --no-security-group --disable-port-security"
      when: attach_to_ovb_networks|bool

    - name: Disable security in public ports
      command: "{{ ovb_working_dir }}/.venv/bin/openstack port set {{ public_port.stdout }} --no-security-group --disable-port-security"
      when: net_iso and net_iso != 'none' and attach_to_ovb_networks|bool

    - name: Build nodes.json file to be used as instackenv.json
      shell: >
        {{ ovb_working_dir }}/.venv/bin/python {{ ovb_repo_directory }}/bin/build-nodes-json
        --env {{ ovb_repo_directory }}/env-{{ idnum }}.yaml
        --network_details
        --nodes_json {{ nodes_file }}
        {% if ovb_repo_version != 'stable/1.0' %} --physical_network --id {{ idnum }} {% endif %}
      args:
        chdir: "{{ ovb_working_dir }}"
      register: nodes_json
      changed_when: true

  always:

    - name: Show last stack status
      command: >-
        {{ ovb_working_dir }}/.venv/bin/openstack stack show {{ stack_name }} -f yaml
      changed_when: false
      failed_when: false

    - name: Delete CREATE_FAILED stack
      shell: |
        {{ ovb_working_dir }}/.venv/bin/openstack stack delete {{ stack_name }} -y
        {{ ovb_working_dir }}/.venv/bin/openstack stack delete {{ stack_name }}-extra -y
      when: '"CREATE_FAILED" in result.stdout'
      failed_when: false

    - name: Stack is timed out if not created within half hour
      debug:
        msg: "Stack failed to create with given timeout: {{ stack_name }}"
      when:
        - '"COMPLETE" not in result.stdout'
        - '"FAILED" not in result.stdout'
      failed_when: false

    - name: remove clouds.yaml file
      file:
        path: "{{ clouds_yaml }}"
        state: absent
      when: create_clouds_yaml|bool

  environment:
    - OS_CLIENT_CONFIG_FILE: "{{ clouds_yaml }}"
    - OS_CLOUD: "{{ cloud_name }}"
