---
- name: Check if there are some CA cert waiting for acceptance
  ansible.builtin.shell: |
    oc get csr --no-headers | awk '/Pending/ {print $1}' | wc -l
  register: _waiting_csr

- name: Apply workaround for auto accept cluster certificates
  when: _waiting_csr.stdout | int > 0
  block:
    - name: Create service account for - auto-csr-approver
      ansible.builtin.copy:
        src: cluster-cert-approver.yaml
        dest: /tmp/cluster-cert-approver.yaml

    - name: Apply cluster cert approver
      ansible.builtin.command: |
        oc apply -f /tmp/cluster-cert-approver.yaml
      register: _cert_approver
      until: _cert_approver.rc != 1
      retries: 60
      delay: 10
      changed_when: false
