---
- name: Pause the machineconfig configuration if mcp is not needed
  ansible.builtin.shell: |
    oc patch machineconfigpool {{ item }} --type merge --patch '{"spec": {"paused": true }}'
  loop:
    - master
    - worker
  changed_when: false
  retries: 6
  delay: 10
  register: _mc_pause
  until: _mc_pause is succeeded

- name: Print current machineconfigpool
  ansible.builtin.command: oc get machineconfigpool
  changed_when: false
  retries: 6
  delay: 10
  register: _mc_get
  until: _mc_get is succeeded
