---
- name: Set DNS nameservers provided by cloud provider
  become: true
  ansible.builtin.lineinfile:
    path: /etc/dnsmasq.d/crc-dnsmasq.conf
    line: "server={{ item }}"
  loop: "{{ ansible_dns.nameservers }}"
  register: _set_dns_servers

- name: Increase dnsmasq cache size
  become: true
  ansible.builtin.lineinfile:
    path: /etc/dnsmasq.d/crc-dnsmasq.conf
    line: "cache-size=2500"
  register: _increase_cache

- name: Reload NetworkManager after adding cache and DNS server
  when: _set_dns_servers.changed or _increase_cache.changed
  become: true
  ansible.builtin.service:
    name: NetworkManager
    state: reloaded
  tags:
    - skip_ansible_lint

- name: Ensure kube config does not exists
  ansible.builtin.stat:
    path: .kube/config
  register: _kubeconfig

- name: Copy new generated KUBECONFIG
  when: not _kubeconfig.stat.exists
  ansible.builtin.copy:
    src: /opt/kubeconfig
    dest: .kube/config
    remote_src: true
    owner: core
    group: core

# https://github.com/crc-org/crc/issues/4109#issuecomment-2042497411
- name: Delete all openshift-marketplace pods
  ansible.builtin.command: |
    oc delete pods --all -n openshift-marketplace
  changed_when: false
  register: command_result
  retries: 5
  delay: 30
  until: command_result is succeeded
