- hosts: all
  tasks:
    # TODO(ykarel) remove once centos-packager is in official centos8 repos
    - name: Temporary install centos-packager from copr
      shell:
        cmd: |
          YUM="{{ ansible_pkg_mgr }}"
          sudo $YUM install -y epel-release;
          sudo $YUM config-manager --enable epel;
          sudo $YUM install -y https://download.copr.fedorainfracloud.org/results/ykarel/ykarel-centos-stream/centos-stream-x86_64/01239149-python-centos/python-centos-0.1.1-2.el8.noarch.rpm;  # noqa 204
          sudo $YUM install -y https://download.copr.fedorainfracloud.org/results/ykarel/ykarel-centos-stream/centos-stream-x86_64/01239164-centos-packager/centos-packager-0.5.5-2.el8.noarch.rpm;  # noqa 204
          sudo $YUM config-manager --disable epel;
      changed_when: true
      when: ansible_distribution_major_version|int > 7

    - name: Install yum deps
      shell:
        cmd: |
          # TODO(pabelanger): migrate to bindep.txt
          sudo {{ ansible_pkg_mgr }} -y install centos-packager createrepo
      changed_when: true

    - name: Create koji centos cert
      copy:
        content: "{{ koji_centos.private_key }}"
        dest: ~/.centos.cert

    - name: Create koji centos server ca
      copy:
        content: "{{ koji_centos.server_ca_cert }}"
        dest: ~/.centos-server-ca.cert

    - name: Create koji centos upload ca
      copy:
        content: "{{ koji_centos.server_ca_cert }}"
        dest: ~/.centos-upload-ca.cert

    - name: remove removal of tmp files
      # noqa 303
      shell:
        cmd: |
          sudo sed -i '/30d/d' /usr/lib/tmpfiles.d/tmp.conf;
          sudo sed -i '/10d/d' /usr/lib/tmpfiles.d/tmp.conf
      changed_when: true
