---
- hosts: all
  tasks:
    - name: Enable container-tools rhel-modules for c8/crc node
      shell:
        cmd: |
          set -e -x
          dnf module enable container-tools:rhel8 -y;
      changed_when: true
      become: true
      when:
        - ansible_distribution | lower == "centos"
        - ansible_distribution_major_version|int >= 8
        - ansible_distribution_major_version|int < 9

    - name: Install podman
      when:
        - registry_login_enabled|default(false)|bool
        - ansible_distribution | lower == "centos"
      become: true
      package:
        name:
          - podman
          - buildah
        state: present

    - name: Set vars for Registry login and do podman login
      when:
        - registry_login_enabled|default(false)|bool
        - ansible_distribution | lower == "centos"
      block:
        - name: Set var name for quay login zuul secret
          set_fact:
            quay_login_secret_name: "{{ lookup('vars', 'quay_login_secret_name_' + openstack_release, default=quay_login_secret_name)}}"
          when:
            - openstack_release is defined
            - quay_login_secret_name is not defined

        - name: Print the username
          shell: |
             echo "{{ quay_login_secret_name.user }}"

        - name: Fail when user or password is not set
          fail:
            msg: "Can not continue. Please provide user and password"
          when: >
            quay_login_secret_name is not defined or
            quay_login_secret_name.user == '' or
            quay_login_secret_name.password == ''

        - name: Set vars for quay login
          no_log: true
          set_fact:
            container_registry_logins:
              quay.rdoproject.org: "{'{{ quay_login_secret_name.user }}': '{{ quay_login_secret_name.password }}'}"

        - name: Perform container registry login(s) with podman
          shell: |-
            podman login --username=$REGISTRY_USERNAME \
                 --password=$REGISTRY_PASSWORD \
                 $REGISTRY
          environment:
            REGISTRY_USERNAME: "{{ lookup('dict', item.value).key }}"
            REGISTRY_PASSWORD: "{{ lookup('dict', item.value).value }}"
            REGISTRY: "{{ item.key }}"
          no_log: true
          loop: "{{ query('dict', container_registry_logins) }}"

        - name: Perform container registry login(s) with buildah
          become: true
          when: buildah_login | default('false') | bool
          shell: |-
            buildah login --username=$REGISTRY_USERNAME \
                 --password=$REGISTRY_PASSWORD \
                 $REGISTRY
          environment:
            REGISTRY_USERNAME: "{{ lookup('dict', item.value).key }}"
            REGISTRY_PASSWORD: "{{ lookup('dict', item.value).value }}"
            REGISTRY: "{{ item.key }}"
          no_log: true
          loop: "{{ query('dict', container_registry_logins) }}"

        - name: Set Insecure registry for content provider
          when: content_provider_registry_ip is defined
          become: true
          ansible.builtin.blockinfile:
            state: present
            insertafter: EOF
            dest: /etc/containers/registries.conf
            content: |-
              [[registry]]
              location = "{{ content_provider_registry_ip }}:5001"
              insecure = true
