---
- name: Prefer ipv4 over ipv6
  hosts: all
  gather_facts: false
  tasks:
    - name: Configure /etc/gai.conf to prever ipv4 over ipv6
      when: prefer_ipv4 | default(false)
      become: true
      ansible.builtin.copy:
        content: |
          scopev4 ::ffff:169.254.0.0/112  2
          scopev4 ::ffff:127.0.0.0/104    2
          scopev4 ::ffff:0.0.0.0/96       14
          precedence ::ffff:0:0/96        100
        dest: /etc/gai.conf

- hosts: controller
  vars:
    openshift_pull_secret_path: pull-secret.txt
  tasks:
    - name: Fail when openshift_pull_sec not provided
      fail:
        msg: "The openshift_pull_secret variable can not be empty!"
      when: crc_secret_pabrodri.openshift_pull_secret == ""

    - name: Clone repos in the job workspace
      include_role:
        name: prepare-workspace

    # Fom sf-infra/roles/extra/crc
    - name: Create pull-secret.txt file
      copy:
        content: "{{ crc_secret_pabrodri.openshift_pull_secret }}"
        dest: "{{ openshift_pull_secret_path }}"
      when: crc_secret_pabrodri.openshift_pull_secret != ""
      no_log: true

    - name: Apply CRC features and print image build date
      include_tasks: features.yaml

    - name: Delete the cluster if there's a non-default bundle URL
      when: crc_ocp_bundle is defined
      shell: |
        /usr/local/bin/crc delete -f

    - name: Start crc
      block:
        - name: Execute crc start command
          shell: |
            /usr/local/bin/crc start {{ crc_parameters | default("--memory 14000 --disk-size 80 --cpus 6") }} {% if crc_ocp_bundle is defined %}--bundle {{ crc_ocp_bundle }}{% endif %} &> ~/crc-start.log
          register: _crc_start_status
          retries: 3
          delay: 30
          until: _crc_start_status.rc != 1

        - name: Verify that OpenShift is up and running
          ansible.builtin.include_tasks: verify_openshift_start.yaml

        - name: Show available nodes
          shell: |
            /usr/bin/kubectl get nodes

        - name: Configure insecure registry inside crc vm
          ansible.builtin.include_tasks: crc_insecure_registry.yaml
          when: content_provider_registry_ip is defined

        - name: Catch CRC IP
          register: crc_ip
          ansible.builtin.command: "crc ip"

        - name: Check if id_ed25519 key exists
          ansible.builtin.stat:
            path: "~/.crc/machines/crc/id_ed25519"
          register: _ed25519_key

        - name: Set fact if new keypair exists
          when: _ed25519_key.stat.exists
          ansible.builtin.set_fact:
            new_keypair: "id_ed25519"

        - name: Run crc
          vars:
            ci_config_repo: "{{ ansible_user_dir }}/{{ zuul.projects['review.rdoproject.org/config'].src_dir }}"
          ansible.builtin.command: >-
            ansible-playbook -i {{ crc_ip.stdout }},
            -u core
            -e @{{ openshift_pull_secret_path }}
            -e "ansible_ssh_private_key_file=~/.crc/machines/crc/{{ new_keypair | default('id_ecdsa') }}"
            -e "ansible_ssh_common_args='-o StrictHostKeyChecking=no'"
            {{ ci_config_repo }}/playbooks/crc/manage_crc_secret.yaml

        - name: Set slower etcd profile
          when: crc_etcd_slow_profile | default(true)
          ansible.builtin.include_role:
            name: prepare-crc-cloud
            tasks_from: slow_etcd.yaml

        - name: Set limit for disk usage - IOPS and Read/Write
          when: crc_disk_limitation | default(true)
          ansible.builtin.include_tasks: limit-disk-usage.yaml

        - name: Pause machineconfigpool
          ansible.builtin.include_role:
            name: prepare-crc-cloud
            tasks_from: pause_mcp.yaml
          when: not wait_for_mcp | default(false)

        # FIXME: Workaround for expired cluster cert for CRC 2.56.0
        - name: Create cluster certificate approver workaround
          ansible.builtin.include_role:
            name: prepare-crc-cloud
            tasks_from: cluster_cert.yaml
          when: ca_cert_approver | default(true)

        # Based on https://github.com/crc-org/crc-cloud/blob/main/pkg/bundle/setup/clustersetup.sh#L149
        - name: Ensure that all cluster operators are stable
          ansible.builtin.shell: |
            oc get co  --no-headers | awk '{print $3}'
          register: component_status
          retries: 15
          delay: 20
          until: "'False' not in component_status.stdout_lines"

# NOTE: We already set the limitation for CRC in virsh.
# It is not required to do it again for other services.
- name: Set IOPS and Read/Write disk limitation excluding controller
  hosts: all,!controller
  gather_facts: false
  tasks:
    - name: Set limit for disk usage - IOPS and Read/Write
      when: crc_disk_limitation | default(true)
      ansible.builtin.include_role:
        name: disk-usage-limitation
