---
# TODO: this is missing the image upload. Ongoing work in
# https://tree.taiga.io/project/tripleo-ci-board/us/1169
- hosts: all
  name: Archive and MD5 sum
  vars:
    workspace: "{{ ansible_user_dir }}"
  tasks:
    - name: ironic-python-agent
      archive:
        path:
          - "{{ workspace }}/ironic-python-agent.initramfs"
          - "{{ workspace }}/ironic-python-agent.kernel"
        dest: "{{ workspace }}/ironic-python-agent.tar"
        format: tar

    - name: overcloud-full
      archive:
        path:
          - "{{ workspace }}/overcloud-full.qcow2"
          - "{{ workspace }}/overcloud-full.initrd"
          - "{{ workspace }}/overcloud-full.vmlinuz"
        dest: "{{ workspace }}/overcloud-full.tar"
        format: tar

    - name: Create md5sums
      shell:
        cmd: |
          md5sum ironic-python-agent.tar > ironic-python-agent.tar.md5
          md5sum overcloud-full.tar > overcloud-full.tar.md5
      args:
        chdir: "{{ workspace }}"
      changed_when: true

