---
- hosts: all
  name: Archive and MD5 sum
  vars:
    workspace: "{{ ansible_user_dir }}/workspace"
  tasks:
    - name: check if overcloud images were built
      stat:
        path: "{{ workspace }}/overcloud-full.qcow2"
      register: overcloud_stat_result

    - name: check if ipa images were built
      stat:
        path: "{{ workspace }}/ironic-python-agent.kernel"
      register: ipa_stat_result

    - name: tar if the ipa files exist
      block:
      when: ipa_stat_result.stat.exists == true
        - name: ironic-python-agent
          archive:
            path:
              - "{{ workspace }}/ironic-python-agent.initramfs"
              - "{{ workspace }}/ironic-python-agent.kernel"
            dest: "{{ ansible_user_dir }}/ironic-python-agent.tar"
            format: tar

        - name: Create md5sums
          shell:
            cmd: |
              md5sum ironic-python-agent.tar > ironic-python-agent.tar.md5
          args:
            chdir: "{{ ansible_user_dir }}"

    - name: tar if the overcloud files
      block:
      when: overcloud_stat_result.stat.exists == true
        - name: overcloud-full
          archive:
            path:
              - "{{ workspace }}/overcloud-full.qcow2"
              - "{{ workspace }}/overcloud-full.initrd"
              - "{{ workspace }}/overcloud-full.vmlinuz"
            dest: "{{ ansible_user_dir }}/overcloud-full.tar"
            format: tar

        - name: Create md5sums
          shell:
            cmd: |
              md5sum overcloud-full.tar > overcloud-full.tar.md5
          args:
            chdir: "{{ ansible_user_dir }}"
