---
- hosts: localhost
  roles:
    - role: generate-zuul-manifest
    - role: add-fileserver
      fileserver: "{{ site_logs }}"
    - role: ara-report


- hosts: logs.rdoproject.org
  gather_facts: False
  roles:
    - role: upload-logs
      zuul_log_url: "{{ site_logs.url }}"
      zuul_logserver_root: "{{ site_logs.path }}"
    - role: buildset-artifacts-location
      zuul_log_url: "{{ site_logs.url }}"

- hosts: localhost
  ignore_errors: yes
  roles:
    - role: submit-logstash-jobs
      logstash_gearman_server: "elk.review.rdoproject.org"
      logstash_gearman_server_port: 4731
