---
- hosts: localhost
  roles:
    - role: generate-zuul-manifest
    - role: add-fileserver
      fileserver: "{{ site_logs }}"
    - role: ara-report

- hosts: localhost
  tasks:
    - name: Generate bulk log download script
      include_role:
        name: local-log-download
      vars:
        local_log_download_api: 'https://review.rdoproject.org/zuul/api'

    - name: Register quick-download link
      zuul_return:
        data:
          zuul:
            artifacts:
              - name: Logs download script
                url: 'download-logs.sh'

- hosts: logserver.rdoproject.org
  gather_facts: False
  roles:
    - role: upload-logs
      zuul_log_url: "{{ site_logs.url }}"
      zuul_logserver_root: "{{ site_logs.path }}"
    - role: buildset-artifacts-location
      zuul_log_url: "{{ site_logs.url }}"
