- hosts: localhost
  roles:
    - role: add-fileserver
      fileserver: "{{ site_logs }}"
    - role: ara-report

- hosts: "{{ site_logs.fqdn }}"
  roles:
    - role: upload-logs
      zuul_log_url: "{{ site_logs.url }}"
      zuul_logserver_root: "{{ site_logs.path }}"
