---
ovb_working_dir: "/tmp/ovb"
logs_dir: "{{ ovb_working_dir }}/logs"
failed_log: "{{ logs_dir }}/failed_ovb_stack.log"
nodes_file: "{{ ovb_working_dir }}/instackenv.json"
ovb_repo_version: stable/2.0
ovb_repo_url: https://opendev.org/openstack/openstack-virtual-baremetal.git
ovb_repo_source_dir:
ovb_repo_directory: "{{ ovb_working_dir }}/openstack-virtual-baremetal"
ovb_clone: true
fail_in_remove: false
tmp:
  idnum: "{{ 100000 |random }}"
key_name: tripleo-ci-team
stack_name: 'baremetal_{{ idnum }}'
routed_networks: false
nodes: 3ctlr_1comp  # overwritten in job config
nodes_leaf1: 3  # number of nodes in leaf1
nodes_leaf2: 1  # number of nodes in leaf2
nodes_config:
    1ctlr: 1
    3ctlr_1comp: 4
    1ctlr_1comp: 2
    1ctlr_2comp: 3
    1ctlr_1comp_1ceph: 3
    3ctlr_1comp_1supp: 4
    1ctlr_2comp_1supp: 3
    1ctlr_1cellctrl_1comp: 3
    zero_nodes: 0  # Useful for undercloud in leaf0, ctlr and comp in leaf1/leaf2.
node_count: "{{ nodes_config[nodes] }}"
extra_node: "{{ nodes | regex_replace('.*(\\d+)supp', '\\1') | int | default(0) }}"

create_clouds_yaml: true
clouds_yaml: "/tmp/clouds.yaml"
cloud_name: vexxhost
cloud_credentials: "{{ cloud_secrets[cloud_name]|default('') }}"
os_username: "{{ cloud_credentials.username|default('nosecret') }}"
os_password: "{{ cloud_credentials.password|default('nosecret') }}"
os_project_name: "{{ cloud_credentials.project_name|default('nosecret') }}"
os_auth_url: "{{ cloud_credentials.auth_url|default('nosecret') }}"
os_region_name: "{{ cloud_credentials.region_name|default('nosecret') }}"
identity_api_version: "{{ cloud_credentials.identity_api_version|default('') }}"
os_user_domain_name: "{{ cloud_credentials.user_domain_name|default('') }}"
os_project_domain_name: "{{ cloud_credentials.project_domain_name|default('') }}"
os_project_domain_id: "{{ cloud_credentials.project_domain_id|default('') }}"
application_credential_secret: "{{ cloud_credentials.application_credential_secret|default('') }}"
application_credential_id: "{{ cloud_credentials.application_credential_id|default('') }}"

rdo_baremetal_image: >-
  {% if ansible_distribution_major_version is version("8", "==") -%}
  CentOS-Stream-GenericCloud-8-20230308.3
  {% elif ansible_distribution_major_version is version("9", "==") -%}
  CentOS-Stream-GenericCloud-9-20211216
  {%- else -%}
  CentOS-7-x86_64-GenericCloud-2003
  {%- endif -%}

cloud_settings:
    rdocloud:
        public_ip_net: 38.145.32.0/22
        undercloud_flavor: m1.large  # not used
        baremetal_flavor: ci.m1.large
        bmc_flavor: ci.m1.medium
        extra_node_flavor: ci.m1.small
        baremetal_image: "{{ rdo_baremetal_image }}"
        radvd_flavor: ci.m1.small
        radvd_image: "{{ rdo_baremetal_image }}"
        dhcp_relay_image: "{{ rdo_baremetal_image }}"
        dhcp_relay_flavor: ci.m1.small
    vexxhost:
        public_ip_net: public
        undercloud_flavor: ci.m1.nodepool
        baremetal_flavor: ci.m1.large
        bmc_flavor: ci.m1.small
        extra_node_flavor: ci.m1.large
        baremetal_image: "{{ rdo_baremetal_image }}"
        radvd_flavor: ci.m1.small
        radvd_image: "{{ rdo_baremetal_image }}"
        dhcp_relay_image: "{{ rdo_baremetal_image }}"
        dhcp_relay_flavor: ci.m1.small
        enable_config_drive: true
        enable_baremetal_config_drive: true
    upshift:
        public_ip_net: provider_net_cci_13
        undercloud_flavor: ci.m1.xlarge
        baremetal_flavor: ci.m1.large.rhos-dev-ci
        bmc_flavor: ci.m1.medium
        extra_node_flavor: ci.m1.large
        baremetal_image: "{{ rdo_baremetal_image }}"
        radvd_flavor: ci.m1.small
        radvd_image: "{{ rdo_baremetal_image }}"
        dhcp_relay_image: "{{ rdo_baremetal_image }}"
        dhcp_relay_flavor: ci.m1.small
        dns_nameservers: ['10.11.5.160', '10.2.70.215']
        enable_config_drive: true
        enable_baremetal_config_drive: true
    ibm-bm3-nodepool:
        baremetal_flavor: m1.large
        bmc_flavor: m1.small
        dhcp_relay_flavor: m1.small
        enable_baremetal_config_drive: 'true'
        enable_config_drive: 'true'
        extra_node_flavor: m1.large
        public_ip_net: hostonly
        radvd_flavor: m1.small
        undercloud_flavor: nodepool
        baremetal_image: "{{ rdo_baremetal_image }}"
        dhcp_relay_image: "{{ rdo_baremetal_image }}"
        radvd_image: "{{ rdo_baremetal_image }}"

net_iso: 'multi-nic'  # 'multi-nic' or 'public-bond' or '' or 'none'
create_undercloud: false
attach_to_ovb_networks: true
create_private_network: true
env_args: >-
    -e {{ ovb_working_dir }}/env-{{ idnum }}-base.yaml
    -e {{ ovb_repo_directory }}/environments/bmc-use-cache.yaml
    -e {{ ovb_repo_directory }}/environments/undercloud-floating-none.yaml
    {%-if create_private_network|bool %}
    -e {{ ovb_repo_directory }}/environments/create-private-network.yaml
    {%- else -%}{%- endif -%}
ipv6: false
ipv6_stateful: true
undercloud_args: >-
    {%-if not create_undercloud|bool -%}
    -e {{ ovb_repo_directory }}/environments/quintupleo-no-undercloud.yaml
    {%- else -%}{%- endif -%}
extra_node_key_name: extranode-key
extra_node_create_key: true
install_epel: true
# based on lastest stein versions picked from
# https://releases.openstack.org/stein/index.html#service-client-projects
pip_packages:
  - python-openstackclient
  - python-heatclient
  - python-novaclient
  - python-neutronclient
# When not specified, the Python version used to run the ansible module is used.
# ovb_virtualenv_python:
constraint_file: https://opendev.org/openstack/requirements/raw/branch/stable/train/upper-constraints.txt
packages:
  - gcc
  - python-pip
  - python-virtualenv
public_net_allocation_pools: [{"start": "10.0.0.128", "end": "10.0.0.199"}]
